@using Microsoft.AspNetCore.Mvc.Rendering
@model Ubora.Web._Features.Users.Profile.EditProfileViewModel

@{
    ViewData["Title"] = "Edit profile";
}

<div class="container-fluid">
  <div class="row flex-column align-items-center">
    <div class="col-md-4 d-flex flex-column justify-content-center">
      <h1>@ViewData["Title"]</h1>
      @Html.Partial("ChangeProfilePicturePartial", @Model.ProfilePictureViewModel)
      @Html.Partial("EditProfilePartial", @Model.UserViewModel)
    </div>
  </div>
</div>
