@using Microsoft.AspNetCore.Mvc.Rendering
@model Ubora.Web._Features.Users.Profile.EditProfileViewModel

@{
    ViewData["Title"] = "Edit profile";
}

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h1 class="text-center">@ViewData["Title"]</h1>
      @Html.Partial("ChangeProfilePicturePartial", @Model.ProfilePictureViewModel)
      @Html.Partial("EditProfilePartial", @Model.UserViewModel)
    </div>
  </div>
</div>
