@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features._Shared
@model Ubora.Web._Features.Projects.Dashboard.ProjectDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

@*@await Html.PartialAsync("_ProcessSteps", new ProcessStepViewModel
{
    ProjectId = Model.Id,
    StepOneStatus = StepStatus.Completed,
    StepTwoStatus = StepStatus.Active,
})*@



<section class="full-width project-dashboard">


    <div class="project-container">
        <h1>@Model.Title</h1>
         <a class="button secondary-button" asp-controller="Workpackages" asp-action="Index" asp-route-projectId="@Model.Id">Workpackages</a> 
        <!-- <a class="button secondary-button" asp-controller="Tasks" asp-action="Tasks" asp-route-projectId="@Model.Id">Tasks</a> -->
        <a class="button secondary-button" asp-controller="History" asp-action="History" asp-route-projectId="@Model.Id">History</a>
        <a class="button secondary-button" asp-controller="Members" asp-action="Members" asp-route-projectId="@Model.Id">Members</a>

    @await Component.InvokeAsync(typeof(WorkpackagesOverviewViewComponent))

        <form>
            <h3>Device classification</h3>
            <button class="button button-secondary" disabled>Classify your device</button>
            <h3>ISO standards and regulation checklist</h3>
            <button class="button primary-button" type="submit" disabled>Submit for review</button>
        </form>
    </div>
</section>
