@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Dashboard.ProjectDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    ViewData["MenuOption"] = ProjectMenuOption.Overview;
}

<section class="medium-width">

    <div class="project_section">
        <img class="project_section--photo" src="//placehold.it/1500x300" alt="Example image">
    </div>

    @*
        TODO: If it's a draft, show the following element and display status text dynamically
        @{
            if (@Model.isInDraft) {
                <span class="project_status">Draft</span>
            }
        }
    *@

    <div class="project_section">
        <h1 class="project_section--title">@Model.Title</h1>
    </div>

    <div class="project_section project_section--editable">
        <h2>Project description</h2>
        @if(Model.IsProjectMember)
        {
            <a asp-controller="Dashboard" asp-action="EditProjectDescription"><i class="material-icons">mode_edit</i>&nbsp;Edit</a>
        }
    </div>

    <div class="project_section">
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <p class="markdown-like">@Model.Description</p>
        }
        else
        {
            <p class="text_placeholder">No project description set yet.</p>
        }
    </div>

    <div class="project_section project_section--tags">
        <h2>Medical tags</h2>
        <div class="medical_tag--list">
            <div class="medical_tag--item">
                <h3>Clinical need</h3>
                <p>@Model.ClinicalNeedTags</p>
            </div>
            <div class="medical_tag--item">
                <h3>Clinical area</h3>
                <p>@Model.AreaOfUsageTags</p>
            </div>
            <div class="medical_tag--item">
                <h3>Technology</h3>
                <p>@Model.PotentialTechnologyTags</p>
            </div>
            <div class="medical_tag--item">
                <h3>Project keywords</h3>
                <p>@Model.Gmdn</p>
            </div>
        </div>
    </div>
</section>
