@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Dashboard.ProjectDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    ViewData["MenuOption"] = ProjectMenuOption.Overview;
}

<section class="medium-width">
    @if (!Model.IsProjectMember)
    {
        <a href="@Url.Action("Join", "Members")"><i class="material-icons">add</i>Join project</a>
    }
    <div class="project_section">
        <img class="project_section--photo" src="//placehold.it/1500x300" alt="Example image">
    </div>

    <div class="project_section">
        <h1 class="project_section--title">@Model.Title</h1>
    </div>

    <div class="project_section project_section--editable">
        <h2>Project description</h2>
        @if (Model.IsProjectMember)
        {
            <a asp-controller="Dashboard" asp-action="EditProjectDescription"><i class="material-icons">mode_edit</i>&nbsp;Edit</a>
        }

    </div>

    <div class="project_section">
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <p class="markdown-like">@Model.Description</p>
        }
        else
        {
            <p class="text_placeholder">No project description set yet.</p>
        }
    </div>

    <div class="project_section project_section--tags">
        <h2>Medical tags</h2>
        <div class="medical_tag--list">
            <div class="medical_tag--item">
                <h3>Clinical need</h3>
                <p>@Model.ClinicalNeedTags</p>
            </div>
            <div class="medical_tag--item">
                <h3>Clinical area</h3>
                <p>@Model.AreaOfUsageTags</p>
            </div>
            <div class="medical_tag--item">
                <h3>Technology</h3>
                <p>@Model.PotentialTechnologyTags</p>
            </div>
            <div class="medical_tag--item">
                <h3>GMDN keywords</h3>
                <p>@Model.Gmdn</p>
            </div>
        </div>
    </div>

    <div class="project_section project_section--block">
        <h2>Project specifications</h2>
        <div class="project_section--specification">
            <div class="project_section--classification">
                <h3>Device classification</h3>

                @if (!string.IsNullOrWhiteSpace(Model.DeviceClassification))
                {
                    <b>@Model.DeviceClassification</b>
                }

                <!-- TODO: If device classification unset -->
                <!-- <p>There currently is no device classification set.</p> -->
                <!-- TODO: If device classification is set -->
                <!-- <p>Class <i>[device classification here]</i> medical device.</p> -->

                @if (Model.IsProjectMember)
                {
                    <div class="center-element">
                        <a class="button primary-button" asp-controller="DeviceClassification" asp-action="GetPairedMainQuestions">Go to device classification</a>
                    </div>
                }

            </div>

            <div class="project_section--checklist">
                <h3>ISO standards and regulation checklist</h3>
                @if (Model.IsProjectMember)
                {
                    <div class="center-element">
                        <button class="button primary-button" disabled>Go to regulation checklist</button>
                    </div>
                }
            </div>
        </div>
    </div>

    @if (Model.IsProjectMember)
    {
        <div class="project_section project_section--block">
            <h2>Submit for review</h2>
            <button class="button primary-button full-width" type="submit" disabled>Present to mentor</button>
        </div>
    }
</section>
