@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Dashboard.ProjectDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    ViewData["MenuOption"] = ProjectMenuOption.Overview;
}

<div class="container-fluid col-8 my-5">
  <div class="row">
    <div class="col px-0">

      <div class="card">
        <img class="card-img-top img-fluid" src="@(string.IsNullOrEmpty(Model.ImagePath)?"/images/projectlogodefault.png":Model.ImagePath)" alt="Illustrative project photo">
        @if (Model.IsInDraft)
         {
             @*<div class="project_section">*@
                 <span class="project_status full-width">Draft</span>
             @*</div>*@
         }
        <div class="card-body">

          <h4 class="card-title ">@Model.Title</h4>

        </div>
      </div>

      @if (!Model.IsProjectMember)
      {
          <a href="@Url.Action("Join", "Members")"><i class="material-icons">add</i>Join project</a>
      }
      else
      {
          <div class="project_photo--controls">
              <a asp-controller="Dashboard" asp-action="EditProjectImage"><i class="material-icons" id="EditImage">mode_edit</i>&nbsp;Edit image</a>
              @if (Model.HasImage)
              {
              <a asp-controller="Dashboard" asp-action="RemoveProjectImage"><i class="material-icons">delete_forever</i>&nbsp;Remove image</a>
              }
          </div>
      }

    </div>
    <div class="col px-0 mx-4">
      @* <div class="project_section project_section--tags"> *@
      <h2>Medical tags</h2>
      <table class="table table-responsive table-medical-tags">
        <tbody>
         <tr>
           <td>
             <h3>Clinical need:</h3>
           </td>
           <td>
             <p>@Model.ClinicalNeedTags</p>
           </td>
         </tr>
         <tr>
           <td>
             <h3>Clinical area:</h3>
           </td>
           <td>
             <p>@Model.AreaOfUsageTags</p>
           </td>
         </tr>
         <tr>
           <td>
             <h3>Technology:</h3>
           </td>
           <td>
             <p>@Model.PotentialTechnologyTags</p>
           </td>
         </tr>
         <tr>
           <td>
             <h3>Project keywords:</h3>
           </td>
           <td>
             <p>@Model.Gmdn</p>
           </td>
         </tr>
         <tr>
           <td>
             <h3>Device classification:</h3>
           </td>
           <td>
             <p>@Model.DeviceClassification</p>
           </td>
         </tr>
       </tbody>
      </table>
      @* </div> *@
    </div>
  </div>

  <div class="row">
    <div class="col px-0">
      <div class="row">
          @* <div class="project_section project_section--editable"> *@
              <div class="col px-0">
                <h2>Project description</h2>
              </div>
              <div class="col-2 d-flex align-items-center justify-content-end">
                @if (Model.IsProjectMember)
                {
                    <a asp-controller="Dashboard" asp-action="EditProjectDescription" id="EditProjectDescription"><i class="material-icons">mode_edit</i>&nbsp;Edit</a>
                }
              </div>
        @* </div> *@
      </div>
      <div class="row">
        @* <div class="project_section"> *@
            @if (!string.IsNullOrWhiteSpace(Model.Description))
            {
                <div class="text-markdown">@Model.Description</div>
            }
            else
            {
                <p class="text_placeholder">No project description set yet.</p>
            }
        @*</div>*@
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col px-0">
      <div class="row">
        <div class="col px-0">
          <h2>Level of completion</h2>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-end">
          <a href="#"><i class="material-icons">keyboard_arrow_down</i>&nbsp;Show less</a>
        </div>
      </div>
      <div class="row">
        <table class="table table-responsive table-level-of-completion">
          <thead>
            <tr>
              <td class="w-25"></td>
              <td class="w-75"></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Design planning</td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Medical need and product specification</td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Conceptual design</td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Design and prototyping</td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Implementation</td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 5%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Operation</td>
              <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Project closure</td>
              <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>

@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"
            asp-fallback-src="~/dist/libs/marked.min.js"
            asp-fallback-test="window.marked">
    </script>
}
