@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@using Ubora.Web._Features._Shared
@using Ubora.Web._Features.Projects.Workpackages.Steps.CommercialDocumentations

@model CommercialDocumentationViewModel

<div class="row">
    <div class="col">
        <h1 class="mb-4">Commercial documentation</h1>
        <p>This section will constitute the first user manual of the medical device, and will include the technical
            specifications available in future commercial documentation.</p>
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <div class="d-flex justify-content-between">
            <h2>Commercial dossier</h2>
            <a class="btn btn-outline-primary align-self-start" asp-action="@nameof(CommercialDocumentationsController.EditCommercialDossier)"
                asp-controller="@CommercialDocumentationsController.Name">
                <i class="material-icons">mode_edit</i>
                <span>Edit</span>
            </a>
        </div>
        <div class="row form-info">
            <div class="col-md-6">
                @if (!string.IsNullOrWhiteSpace(Model.CommercialDossier.ProductName))
                {
                <div class="mb-3">
                    <label>Product name</label>
                    @Model.CommercialDossier.ProductName
                </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.CommercialDossier.CommercialName))
                {
                <div class="mb-3">
                    <label>Commercial name</label>
                    @Model.CommercialDossier.CommercialName
                </div>
                }
                @if (Model.CommercialDossier.DoesDescriptionHaveContent)
                {
                <div class="mb-3">
                    <label>Description</label>
                    @Html.Raw(@Model.CommercialDossier.DescriptionHtml)
                </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.CommercialDossier.UserManualName))
                {
                    <div class="mb-3">
                        <label>User manual</label>
                        <a asp-action="@nameof(CommercialDocumentationsController.DownloadUserManual)">Download @Model.CommercialDossier.UserManualName</a>
                    </div>
                }
            </div>
            <div class="col-md-6">
                @if (Model.CommercialDossier.LogoUrl != null)
                {
                <div class="mb-3">
                    <label>Logo</label>
                    <img class="w-max-15-rem" src="@Model.CommercialDossier.LogoUrl">
                </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <div class="d-flex justify-content-between">
            <h2>Intellectual property</h2>
            <a class="btn btn-outline-primary align-self-start" asp-action="@nameof(CommercialDocumentationsController.EditIntellectualProperty)"
                asp-controller="@CommercialDocumentationsController.Name">
                <i class="material-icons">mode_edit</i>
                <span>Edit</span>
            </a>
        </div>

        @switch (Model.IntellectualProperty.License)
        {
            case LicenseType.None:
                <p>No License set yet.</p>
                break;
            case LicenseType.Ubora:
                <div>
                    <span class="d-flex align-items-center mb-2">
                        <img src="/images/icons/ubora_black.svg" class="w-2-rem mr-2" alt="Share-alike icon">
                        UBORA licence
                    </span>
                    <ul>
                        <li>
                            <small>
                                No responsibility
                            </small>
                        </li>
                        <li>
                            <small>
                                No liability
                            </small>
                        </li>
                        <li>
                            <small>
                                Attribution
                            </small>
                        </li>
                        <li>
                            <small>
                                Ask to use the company logo on our e-platform and on the project page
                            </small>
                        </li>
                        <li>
                            <small>
                                Acknowledgment to UBORA in the product page description
                            </small>
                        </li>
                        <li>
                            <small>
                                No endorsement
                            </small>
                        </li>
                        <li>
                            <small>
                                Derivative work with attribution
                            </small>
                        </li>
                        <li>
                            <small>
                                Free and perpetual use
                            </small>
                        </li>
                        <li>
                            <small>
                                No exclusivity
                            </small>
                        </li>
                    </ul>
                </div>
                break;
            case LicenseType.CreativeCommons:
                <p>
                    <img src="/images/icons/cc.png" class="w-2-rem mr-2" alt="Creative Commons icon">
                    Creative Commons licence:
                </p>
                @if(Model.IntellectualProperty.Attribution)
                {
                    <span class="d-flex align-items-center mb-2">
                        <img src="/images/icons/by.svg" class="w-2-rem mr-2" alt="Attribution icon">
                        Attribution (BY)
                    </span>
                    <small class="d-block">
                        Licensees may copy, distribute, display and perform the work and make
                        derivative works and remixes based on it only if they give the author or licensor
                        the credits (attribution) in the manner specified by these.
                    </small>
                }
                @if(Model.IntellectualProperty.ShareAlike)
                {
                    <span class="d-flex align-items-center mb-2">
                        <img src="/images/icons/sa.svg" class="w-2-rem mr-2" alt="Share-alike icon">
                        Share-alike (SA)
                    </span>
                    <small class="d-block">
                        Licensees may distribute derivative works only under a license identical ("not
                        more restrictive") to the license that governs the original work. Without sharealike,
                        derivative works might be sublicensed with compatible but more restrictive
                        license clauses, e.g. CC BY to CC BY-NC.)
                    </small>
                }
                @if(Model.IntellectualProperty.NonCommercial) 
                {
                    <span class="d-flex align-items-center mb-2">
                        <img src="/images/icons/nc.svg" class="w-2-rem mr-2" alt="Non-commercial icon">
                        Non-commercial (NC)
                    </span>
                    <small class="d-block">
                        Licensees may copy, distribute, display, and perform the work and make derivative works
                        and remixes based on it only for non-commercial purposes.
                    </small>
                }
                @if(Model.IntellectualProperty.NoDerivativeWorks)
                {
                    <span class="d-flex align-items-center mb-2">
                        <img src="/images/icons/nd.svg" class="w-2-rem mr-2" alt="No Derivative Works icon">
                        No Derivative Works (ND)
                    </span>
                    <small class="d-block">
                        Licensees may copy, distribute, display and perform only verbatim copies of the
                        work, not derivative works and remixes based on it.
                    </small>
                }
                break;
        }
    </div>
</div>