@model Ubora.Web._Features.Users.UserList.UserCardViewModel

<div class="col-sm-6 col-md-4 col-lg-3 my-2">
    <div class="card user-card text-center">
        <a asp-controller="Profile" asp-action="ViewProfile" asp-route-userId="@Model.UserId">
            <div class="card-body">
                <img src="@Model.ProfilePictureUrl" class="card-img-top avatar" alt="@Model.Name profile picture">
                <h4 class="card-title mt-4">
                    @Model.Name
                </h4>
                <p class="text-capitalize">@(Model.Roles)&nbsp;</p>
            </div>
        </a>
        @if (Model.FooterHtml != null)
        {

            @Model.FooterHtml

        }
    </div>
</div>