@using System.Web
@using Newtonsoft.Json;
@using Ubora.Domain.Questionnaires.ApplicableRegulations
@using Ubora.Web._Features.Admin.Questionnaires;

@model Ubora.Domain.Questionnaires.DeviceClassifications.DeviceClassificationQuestionnaireTree

<ul>
    @foreach (var condition in Model.Conditions)
    {
        <li>
            (@condition.Id) You will get class <b>@condition.DeviceClass.Name</b> if you answered:
            <ul>
                @foreach (var entry in condition.QuestionIdsWithExpectedChosenAnswerIds)
            {
                {
                    var question = Model.FindQuestionOrThrow(entry.Key);
                    var answer = question.Answers.Single(a => a.Id == entry.Value);
                    <li><b>@answer.Text</b> to question "@question.Text" (@question.Id)</li>
                }
            }
        </ul>
    </li>
    }
</ul>