@using Newtonsoft.Json
@using Ubora.Web._Features.ProjectList.Models
@model Ubora.Web._Features.ProjectList.Models.SearchViewModel

<div class="tab-pane fade show active" id="allProjects" role="tabpanel" aria-labelledby="all-projects-tab">
    <div class="row py-2">
        <div class="col d-flex justify-content-between ">
            <a class="btn btn-icon px-0" asp-route-tab="@TabType.AllProjects">
                @if (Model.IsAnyFilterSet)
                {
                    <i class="material-icons">
                        refresh
                    </i>
                    <span>
                        Clear filters
                    </span>
                }
            </a>
            <div>
                <span class="align-middle px-2">Sort by</span>
                <form method="get">
                    @foreach (var tag in Model.ByArea)
                    {
                        <input type="hidden" value="@tag" name="@nameof(Model.ByArea)" />
                    }
                    @foreach (var tag in Model.ByClinicalNeedTags)
                    {
                        <input type="hidden" value="@tag" name="@nameof(Model.ByClinicalNeedTags)" />
                    }
                    @foreach (var tag in Model.ByPotentialTechnologyTags)
                    {
                        <input type="hidden" value="@tag" name="@nameof(Model.ByPotentialTechnologyTags)" />
                    }
                    <input asp-for="Tab" type="hidden" />
                    <input asp-for="Title" type="hidden" />
                    <input asp-for="ByStatus" type="hidden" />
                    <div id="sortByParamethers" class="dropdown d-inline-block">
                        @if (Model.SortBy == SortBy.Newest)
                        {
                            <button class="btn btn-icon dropdown-toggle px-0" type="button" data-toggle="dropdown">
                                Newest
                            </button>
                            <div class="dropdown-menu" aria-labelledby="sortBy">
                                <input name="@nameof(SearchViewModel.SortBy)" value="@SortBy.Oldest" type="hidden" />
                                <button class="dropdown-item" type="submit">Oldest</button>
                            </div>
                        }
                        else
                        {
                            <button class="btn btn-icon dropdown-toggle px-0" type="button" data-toggle="dropdown">
                                Oldest
                            </button>
                            <div class="dropdown-menu" aria-labelledby="sortBy">
                                <input name="@nameof(SearchViewModel.SortBy)" value="@SortBy.Newest" type="hidden" />
                                <button class="dropdown-item" type="submit">Newest</button>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="my-4">
        @{ Html.RenderPartial("~/_Features/ProjectList/ProjectListPartial.cshtml", Model.ProjectListViewModel); }
    </div>
</div>