@using Ubora.Web._Features.Projects.WorkpackageOneManagement
<a asp-controller="WorkpackageOne" asp-action="DescriptionOfNeed">@nameof(WorkpackageOneController.DescriptionOfNeed)</a>
<br />
<a asp-controller="WorkpackageOne" asp-action="DescriptionOfExistingSolutionsAndAnalysis">@nameof(WorkpackageOneController.DescriptionOfExistingSolutionsAndAnalysis)</a>
<br />
<a asp-controller="WorkpackageOne" asp-action="ProductFunctionality">@nameof(WorkpackageOneController.ProductFunctionality)</a>
<br />
<a asp-controller="WorkpackageOne" asp-action="ProductPerformance">@nameof(WorkpackageOneController.ProductPerformance)</a>
<br />
<a asp-controller="WorkpackageOne" asp-action="ProductUsability">@nameof(WorkpackageOneController.ProductUsability)</a>
<br />
<a asp-controller="WorkpackageOne" asp-action="ProductSafety">@nameof(WorkpackageOneController.ProductSafety)</a>
<br />
<a asp-controller="WorkpackageOne" asp-action="PatientPopulationStudy">@nameof(WorkpackageOneController.PatientPopulationStudy)</a>
<br />
<a asp-controller="WorkpackageOne" asp-action="UserRequirementStudy">@nameof(WorkpackageOneController.UserRequirementStudy)</a>
<br />
<a asp-controller="WorkpackageOne" asp-action="AdditionalInformation">@nameof(WorkpackageOneController.AdditionalInformation)</a>
