@model Ubora.Web._Features.Projects.WorkpackageOneManagement.WorkpackageOverviewViewModel

<ol>
    @foreach (var workpackage in Model.Workpackages)
    {
        <li>
            <a href="@workpackage.Url">
                <h2>
                    @workpackage.Title
                </h2>
            </a>
            <ol>

                @foreach (var task in workpackage.Tasks)
                {
                    <li>
                        <a href="@task.Url">
                            @if (task.IsSelected)
                            {
                                <ul>
                                    @task.Title
                                </ul>
                            }
                            else
                            {
                                @task.Title
                            }
                        </a>
                    </li>
                }
            </ol>
        </li>
    }
</ol>