@model ClinicalNeedViewModel

<div class="row mb-3">
    <div class="col">
        <div class="card clinical-need-card px-3 py-3">
            <div class="row">
                <div class="col-12">
                    <a asp-route-clinicalNeedId="@Model.Id" asp-action="@nameof(OverviewController.Overview)" asp-controller="@nameof(OverviewController).RemoveSuffix()" class="color-dark">
                        <h2 class="font-weight-light mb-0">@Model.Title</h2>
                    </a>
                </div>
                <div class="col-12 pb-3">
                    <a asp-route-userId="@Model.IndicatorUserId" asp-action="@nameof(ProfileController.ViewProfile)" asp-controller="@nameof(ProfileController).RemoveSuffix()" asp-area="" class="color-grey font-size-0-8">
                        Author: @Model.IndicatorFullName
                    </a>
                </div>
                <div class="col-lg-3">
                    <dl>
                        <dt>Clinical need</dt>
                        <dd class="mb-3">@Model.ClinicalNeedTag</dd>
                    </dl>
                </div>
                <div class="col-lg-3">
                    <dl>
                        <dt>Area</dt>
                        <dd class="mb-3">@Model.AreaOfUsageTag</dd>
                    </dl>
                </div>
                <div class="col-lg-3">
                    <dl>
                        <dt>Technology</dt>
                        <dd class="mb-3">@Model.PotentialTechnologyTag</dd>
                    </dl>
                </div>
                <div class="col-lg-3">
                    <dl>
                        <dt>Project keywords</dt>
                        <dd class="mb-3">@Model.Keywords</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col color-grey font-size-0-8">
                    <span class="d-xs-block">Last activity @Html.TimeAgoHistorySpan(Model.IndicatedAt)</span>
                    <span class="dot d-xs-none"></span>
                    <a href="#">
                        <span class="d-xs-block">
                            @Model.NumberOfRelatedProjects related projects
                        </span>
                    </a>
                    <span class="dot d-xs-none"></span>
                    <a href="#">
                        <span class="d-xs-block">
                            @Model.NumberOfComments comments
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>