@model ClinicalNeedViewModel

<div class="row mb-3">
    <div class="col">
        <div class="card clinical-need-card px-3 py-3">
            <div class="row">
                <div class="col-lg-7">
                    <a asp-route-clinicalNeedId="@Model.Id" asp-action="@nameof(OverviewController.Overview)" asp-controller="@nameof(OverviewController).RemoveSuffix()">
                        <h6 class="font-weight-bold">@Model.Title</h6>
                    </a>
                    <div>
                        <p>@Model.Description</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h6 class="font-weight-bold">Area</h6>
                    <p>@Model.AreaOfUsageTag</p>
                </div>
                <div class="col-lg-3">
                    <h6 class="font-weight-bold">Keywords</h6>
                    <p>@Model.Keywords</p>
                </div>
            </div>
            <div class="row">
                <div class="col color-grey font-size-0-8">
                    <a asp-route-userId="@Model.IndicatorUserId" asp-action="@nameof(ProfileController.ViewProfile)" asp-controller="@nameof(ProfileController).RemoveSuffix()" asp-area="">
                        <span class="d-xs-block">
                            Author: @Model.IndicatorFullName
                        </span>
                    </a>
                    <span class="dot d-xs-none"></span>
                    <span class="d-xs-block">Last activity @Html.TimeAgoHistorySpan(Model.IndicatedAt)</span>
                    <span class="dot d-xs-none"></span>
                    <a href="#">
                        <span class="d-xs-block">
                            @Model.NumberOfRelatedProjects related projects
                        </span>
                    </a>
                    <span class="dot d-xs-none"></span>
                    <a href="#">
                        <span class="d-xs-block">
                            @Model.NumberOfComments comments
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>