@using Ubora.Web._Features.Projects._Shared
@model IEnumerable<Ubora.Web._Features.Projects.Workpackages.WorkpackageOneReview.WorkpackageReviewViewModel>

@{
    ViewData["Title"] = "Members";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

@*<br />

@nameof(Model.IsWorkpackageOneInReview): @Model.IsWorkpackageOneInReview

<br />

@nameof(Model.IsWorkpackageOneAccepted): @Model.IsWorkpackageOneAccepted

<br />*@

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="SubmitForReview">
    <button type="submit">Submit for review</button>
</form>

<form asp-action="AssignMeAsMentor">
    <button type="submit">Assign me as mentor</button>
</form>

Reviews:
<ol>
    
@foreach (var review in Model)
{
    <li>
        <pre>
Status: @review.Status.ToString()
Concluding comment: "@review.Comment"
Created at: @review.CreatedAt
Concluded at: @review.ConcludedAt
</pre>
    </li>
}
</ol>

<a asp-action="Decision">Accept/Reject</a>