@{
    var currentTab = (string)ViewData["currentTab"];
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link @(currentTab == nameof(ResourcesController.Read)? "active" : "")" asp-action="@nameof(ResourcesController.Read)">
            Read
        </a>
    </li>
    @if (await AuthorizationService.IsAuthorizedAsync(User, Policies.CanManageResourcePages))
    {
        <li class="nav-item">
            <a class="nav-link @(currentTab == nameof(ResourcesController.Edit) ? "active" : "")" asp-action="@nameof(ResourcesController.Edit)">
                Edit
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link @(currentTab == nameof(ResourcesController.Repository) ? "active" : "")" asp-action="@nameof(ResourcesController.Repository)">
            Files
        </a>
    </li>
    @if (await AuthorizationService.IsAuthorizedAsync(User, Policies.CanManageResourcePages))
    {
        <li class="nav-item">
            <a class="nav-link @(currentTab == nameof(ResourcesController.History) ? "active" : "")" asp-action="@nameof(ResourcesController.History)">
                History
            </a>
        </li>
    }
</ul>