@model AddResourcePostModel

@{
    ViewData["Title"] = "Add resource";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="@nameof(ResourcesController.Index)">Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>

<p class="bd-lead">Here you can bla-bla-bla...</p>

<form asp-action="@nameof(ResourcesController.Add)">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input class="form-control" asp-for="Title" placeholder='e.g. "Introduction to UBORA"' />
        <span asp-validation-for="Title"></span>
        <small>
            URL will be: <br><span id="js-slug">&nbsp;</span>
        </small>
    </div>
    <div class="form-group">
        <label asp-for="Body">Content</label>
        <input asp-for="Body" type="hidden" />
        <span asp-validation-for="Body"></span>
        <div id="toolbar-container" style="display: none;">@Html.Partial("_QuillToolbarFormatsPartial")</div>
        <div id="editor-container" class="form-group" style="display: none;"></div>
    </div>
    <div class="float-right">
        <a class="btn btn-outline-primary" asp-action="@nameof(ResourcesController.Index)" role="button">Cancel</a>
        <button class="btn btn-primary" type="submit">Add</button>
    </div>
</form>

@section Scripts {
    <script>
        var titleInputSelector = "#@(nameof(Model.Title))";
        var contentInputSelector = "#@(nameof(Model.Body))";
        var editorSelector = "#editor-container";
        var toolbarSelector = "#toolbar-container";
        var exampleTitle = "Introduction to UBORA";
        UBORA.initAddOrEditResource(editorSelector, toolbarSelector, titleInputSelector, contentInputSelector, exampleTitle);
    </script>
}