@model ResourceEditViewModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="@nameof(ResourcesController.Index)">Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
</nav>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="@nameof(ResourcesController.Read)">
            Read
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="@nameof(ResourcesController.Edit)">
            Edit
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="@nameof(ResourcesController.History)">
            History
        </a>
    </li>
</ul>

<form asp-action="Edit" class="py-3">
    <h1>@Model.Title</h1>
    <input type="hidden" asp-for="ResourceId" />
    <input type="hidden" asp-for="ContentVersion" />
    <input type="hidden" asp-for="Body" />
    <div class="form-group">
        <div id="editor-container" style="display: none;">
        </div>
    </div>
    <button type="submit" class="btn btn-primary float-right">Publish changes</button>
</form>

@section Right {
    <span class="color-grey pb-1 d-inline-block">Actions</span>
    <br />
    <button class="btn btn-outline-primary">Open repository</button>
}

@section Scripts {
    <script>
        $(function() {
            var quill = new Quill('#editor-container',
                {
                    theme: 'snow'
                });

            quill.setContents(@(Html.Raw(Model.Body)), 'api');

            $('#editor-container').show();

            quill.on('editor-change', function() {
                $('#@(nameof(Model.Body))').val(JSON.stringify(quill.getContents()));
            });
        });
    </script>
}