@model ResourceHistoryViewModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="@nameof(ResourcesController.Index)">Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
</nav>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="@nameof(ResourcesController.Read)">
            Read
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="@nameof(ResourcesController.Edit)">
            Edit
        </a>
    </li>
    <li class="nav-item" >
        <a class="nav-link active" asp-action="@nameof(ResourcesController.History)">
            History
        </a>
    </li>
</ul>

<ul class="py-3">
@foreach (var @event in Model.Events)
{
    <li>
        @(@event.GetDescription())
    </li>
}
</ul>
