@model ResourceHistoryViewModel

@section Left {
    @Html.Partial("_LeftMenuPartial.cshtml")
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="@nameof(ResourcesController.Index)">Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
</nav>

@Html.Partial("_ResourcePageTabsPartial.cshtml")

<h1>@ViewData["Title"]</h1>
@foreach (var @event in Model.Events)
{
    @(@event.GetPartialView(Html))
}
