@model ResourceReadViewModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="@nameof(ResourcesController.Index)">Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
</nav>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" asp-action="@nameof(ResourcesController.Read)">
            Read
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="@nameof(ResourcesController.Edit)">
            Edit
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="@nameof(ResourcesController.History)">
            History
        </a>
    </li>
</ul>

<div id="content-body" class="py-3">
    <h1>@Model.Title</h1>
    @(Html.Raw(Model.Body))
</div>

@section Right {
    <span class="color-grey">Table of contents</span>
    <nav id="content-navigation" class="nav nav-pills flex-column position-sticky" data-spy="scroll" data-target="#content-body">
    </nav>
}

@section Scripts
    {
    <script>
        $('#content-body').find("h1, h2, h3, h4, h5, h6").each(function (_, element) {
            $(element).attr('id', UBORA.slugify(element.firstChild.textContent));
            $('#content-navigation')
                .append(
                    `<a class="nav-link" href="#${$(element).attr('id')}">${$(element).text()}</a>`);
        });
    </script>
}