@model IndexResourceFilesViewModel

@{
    ViewData["Title"] = "Files";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="@nameof(ResourcesController.Index)">Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.ResourcePageTitle</li>
    </ol>
</nav>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="@nameof(ResourcesController.Read)">
            Read
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="@nameof(ResourcesController.Edit)">
            Edit
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="@nameof(ResourcesController.Repository)">
            Files
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="@nameof(ResourcesController.History)">
            History
        </a>
    </li>
</ul>

@section Left {
    @Html.Partial("_LeftMenuPartial.cshtml")
}

@section Right {
    <div class="mb-3">
        <a asp-action="@nameof(ResourcesController.AddFile)" class="w-75 my-2 btn btn-outline-primary d-flex align-items-center justify-content-center"><i class="material-icons">add</i>Upload new file(s)</a>
    </div>
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="w-12"></th>
                <th class="w-36">File name</th>
                <th class="w-8">Size (kB)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.Files)
            {
                // Note: Please keep the a-element and i-element on same line because otherwise a strange "little line" appears next to the icon when link is hovered.
                <tr>
                    <td>

                        <a href="@Url.Action(nameof(ResourcesController.DownloadFile), "Resources", new { fileId = file.FileId, resourcePageId = Model.ResourcePageId })" title="Download file" aria-label="Download file" data-toggle="tooltip" data-placement="bottom"><i class="file-list--item-control material-icons">file_download</i></a>

                        <i class="file-list--item-control material-icons js-clipboard"
                           title="Copy file path to clipboard"
                           aria-label="Copy file"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           data-clipboard-text="@Url.Action(nameof(ResourcesController.DownloadFile), "Resources", new { fileId = file.FileId, resourcePageId = Model.ResourcePageId }, Context.Request.Scheme)">
                            content_copy
                        </i>

                    </td>
                    <td class="break-word-all">@file.FileName</td>
                    <td>@file.FileSizeInKbs</td>
                </tr>
            }
        </tbody>
    </table>
</div>