@using Ubora.Web._Features.Notifications
@using Ubora.Web._Features.Notifications.Invitations

@model IndexInvitationViewModel

@{
    var isUnreadCss = Model.IsUnread ? "notification--unread" : "";
}

<div class="notification @isUnreadCss">
    <div class="notification-container">
        <p class="notification--message">You have been asked to join project <a asp-controller="Dashboard" asp-action="Dashboard" asp-route-projectId="@Model.ProjectId">@Model.ProjectTitle</a></p>
        <div class="notification--controls">
            @Html.Partial("~/_Features/Notifications/Invitations/InvitationPartial.cshtml", new InvitationPartialViewModel { InviteId = Model.InviteId, Action = "Decline" })
            @Html.Partial("~/_Features/Notifications/Invitations/InvitationPartial.cshtml", new InvitationPartialViewModel { InviteId = Model.InviteId, Action = "Accept" })
        </div>
    </div>
</div>
