@model OverviewViewModel

<div class="row mb-3">
    <div class="col-lg-8 pr-xl-5 border-right mb-lg-0 mb-sm-3">
        <div class="row">
            <div class="col-lg-12">
                @Model.Description
            </div>
        </div>
    </div>
    <div class="col-lg-4 pl-xl-5">
        <p>
            <span class="d-block font-weight-bold">Clinical need</span>
            <span class="d-block">@Model.ClinicalNeedTag</span>
        </p>
        <p>
            <span class="d-block font-weight-bold">Area</span>
            <span class="d-block">@Model.AreaOfUsageTag</span>
        </p>
        <p>
            <span class="d-block font-weight-bold">Technology</span>
            <span class="d-block">@Model.PotentialTechnologyTag</span>
        </p>
        <p>
            <span class="d-block font-weight-bold">Keywords</span>
            <span class="d-block">@Model.Keywords</span>
        </p>
    </div>
</div>

@*<div class="row">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4 pl-xl-5">
            <h6>Related projects</h6>
            <p>
                <a href="http://ubora-kahawa.azurewebsites.net/Projects/5f6f4b3e-4c5f-4f21-a676-e38e78ce740d/Dashboard">
                    BLosSoM (Babies Life Saving Mask)
                </a>
            </p>
            <p>
                <a href="http://ubora-kahawa.azurewebsites.net/Projects/d6534063-e380-48f8-a50e-f38c3aaddcb5/Dashboard">
                    Personalised multi-purpose mask
                </a>
            </p>
            <p>
                <a href="http://ubora-kahawa.azurewebsites.net/Projects/1600b885-16a8-4836-984f-881da9ee7f16/Dashboard">
                    Portable cooler for vaccines / Nevera portátil para vacunas
                </a>
            </p>
        </div>
    </div>

    @await Html.PartialAsync("~/_Components/Discussions/_Discussion.cshtml", Model.Discussion)*@

@section Right {
    <a asp-route-clinicalNeedId="@Model.Id" asp-area="" asp-action="@nameof(ProjectCreationController.Create)" asp-controller="@nameof(ProjectCreationController).RemoveSuffix()" class="btn btn-outline-primary btn-action"><i class="material-icons">add</i>Create new project</a>
}