@model OverviewViewModel

<div class="row mb-3">
    <div class="col-lg-8 pr-xl-5 border-right mb-lg-0 mb-sm-3">
        <div class="row">
            <div class="col-lg-12">
                @Model.Description
            </div>
        </div>
    </div>
    <div class="col-lg-4 pl-xl-5">
        <dl>
            <dt>Clinical need</dt>
            <dd class="mb-3">@Model.ClinicalNeedTag</dd>
            <dt>Area</dt>
            <dd class="mb-3">@Model.AreaOfUsageTag</dd>
            <dt>Technology</dt>
            <dd class="mb-3">@Model.PotentialTechnologyTag</dd>
            <dt>Project keywords</dt>
            <dd class="mb-3">@Model.Keywords</dd>
        </dl>
    </div>
</div>

@section Right {
    <a asp-route-clinicalNeedId="@Model.Id" asp-area="" asp-action="@nameof(ProjectCreationController.Create)" asp-controller="@nameof(ProjectCreationController).RemoveSuffix()" class="btn btn-outline-primary btn-action"><i class="material-icons">add</i>Create new project</a>
}