@model Ubora.Web._Features.Projects.Workpackages.Candidates.VotingViewModel

<div class="row">
    <div class="col-sm-8 col-12"> <h1>Voting</h1></div>
    @if ((await AuthorizationService.AuthorizeAsync(User, null, Policies.CanAddProjectCandidate)).Succeeded)
    {
        <div class="col-sm-4 col-12 header-actions">
            <a class="btn" asp-controller="Candidates" asp-action="AddCandidate">
                <i class="material-icons">add</i>
                <span>Add candidate</span>
            </a>
        </div>
    }
</div>
<div class="row">
    <div class="col-12">
        <p>This voting section can help you to identify the best solutions for your medical device. Please use it for creating polls and discussion both on general (e.g. use of piezoelectric sensors) and/or on specific topics (e.g. use of LM7805 voltage regulator), in order to have a more clear idea of your concept, which will be described in the next "Concept description" section.</p>
    </div>
    @foreach (var candidate in Model.Candidates)
    {
        <div class="col-sm-12 col-md-3 my-2">
            <div class="card w-100 h-100">
                <a href="@Url.Action("Candidate", "Candidates" , new { candidateId=candidate.Id })" class="card-link">
                    <img class="card-img-top img-fluid" src="@candidate.ImageUrl" alt="Card image cap">
                </a>
                <div class="card-body h-100">
                    <h4 class="card-title mt-2"><a href="@Url.Action("Candidate", "Candidates" , new { candidateId=candidate.Id })">@candidate.Title</a></h4>
                    <p class="card-text text-truncate mb-2">@candidate.Description</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Score: @candidate.TotalScore.ToString("0.0")</small>
                </div>
            </div>
        </div>
    }
</div>

