@model Ubora.Web._Features.Projects.Workpackages.Candidates.VotingViewModel

<div class="col-lg-9 pr-5">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-lg-9">
                    <h1 class="display-4">Voting</h1>
                </div>
                <div class="col-lg-3 d-flex justify-content-end">
                    @if ((await AuthorizationService.AuthorizeAsync(User, null, Policies.CanAddProjectCandidate)).Succeeded)
                    {
                        <a class="btn btn-outline-primary align-self-start" asp-controller="Candidates" asp-action="AddCandidate">
                            <i class="material-icons">add</i>
                            <span>Add candidate</span>
                        </a>


                    }
                </div>
            </div>

            <div class="row">
                @foreach (var candidate in Model.Candidates)
                {
                    <div class="col-sm-12 col-md-3 my-2">
                        <div class="card w-100 h-100">
                            <a href="@Url.Action("Candidate", "Candidates", new { candidateId = candidate.Id })" class="card-link">
                                <img class="card-img-top img-fluid" src="@candidate.ImageUrl" alt="Card image cap">
                            </a>
                            <div class="card-body h-100">
                                <h4 class="card-title mt-2"><a href="@Url.Action("Candidate", "Candidates", new { candidateId = candidate.Id })"><p>@candidate.Title</p></a></h4>
                                <p class="card-text text-truncate mb-2">@candidate.Description</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Score: @candidate.TotalScore.ToString("0.0")</small>
                            </div>
                        </div>
                    </div>
                }
            </div>


            @if (Model.CanOpenWorkpackageThree)
            {
                <hr>
                <div class="mt-4">

                  <button class="btn btn-outline-primary align-self-start" role="button" data-toggle="modal" data-target="#openWorkpackageModal" style="">
                    <i class="material-icons align-middle">arrow_forward</i>
                    <span>Open "WP3: Design and prototyping"</span>
                  </button>

                  <div class="modal fade" id="openWorkpackageModal" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title">Open "Work package 3: design and prototyping"</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <form asp-controller="Candidates" asp-action="OpenWorkpackageThree" method="post">
                                  <div class="modal-body">
                                      <p>Please be sure you have reached consensus on the conceptual design of your medical device. Are you sure you want to open "WP3: Design and prototyping"?</p>
                                  </div>
                                  <div class="modal-footer d-flex justify-content-center">
                                      <div class="form-group">
                                          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No, cancel</button>
                                          <span class="mx-1"></span>
                                          <button class="btn btn-primary" type="submit">Yes, open</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              
                </div>
            }
        </div>
    </div>
</div>
