@model Ubora.Web._Features.Projects.Workpackages.WorkpackageListOverviewViewModel
@*
    TODO: Map a tags to work package steps
*@
<aside class="project_sidemenu">
    <ol>
        <li class="project_sidemenu--workpackage">
            <h3>WP1: @Model.WorkpackageOne.Title</h3>
            <ol>
                <li><a asp-controller="WorkpackageOne" asp-action="DesignPlanning">&nbsp;Design planning</a></li>
                @foreach (var step in Model.WorkpackageOne.Steps)
                {
                    <li>
                        <a asp-action="Step" asp-controller="WorkpackageOne" asp-route-stepId="@step.Id">@step.Title</a>
                    </li>
                }
                <li><a asp-controller="WorkpackageOne" asp-action="DeviceClassification">&nbsp;Device classification</a></li>
                <li><a href="#" class="project_sidemenu_link--disabled">&nbsp;Regulation checklist</a></li>
                <li><a asp-controller="WorkpackageOneReview" asp-action="Review">&nbsp;Formal review</a></li>
            </ol>
        </li>

        @if (Model.WorkpackageTwo != null)
        {
            <li class="project_sidemenu--workpackage">
                <h3>WP2: @Model.WorkpackageTwo.Title</h3>
                <ol>
                    @foreach (var step in Model.WorkpackageTwo.Steps)
                    {
                        <li>
                            <a asp-action="Read" asp-controller="WorkpackageTwos" asp-route-stepId="@step.Id">

                                @step.Title
                            </a>
                        </li>
                    }
                    <li><a asp-controller="WorkpackageTwoReview" asp-action="Review">&nbsp;Formal review</a></li>
                </ol>
            </li>
        }

        @if (Model.WorkpackageThree != null)
        {
            <li class="project_sidemenu--workpackage">
                <h3>WP3: @Model.WorkpackageThree.Title</h3>
                <p>Coming soon!</p>
            </li>
        }
    </ol>
</aside>
