@model Ubora.Web._Features.Projects.Workpackages.WorkpackageListOverviewViewModel

<aside class="project_sidemenu">
    <ol>
        @foreach (var wp in Model.Workpackages)
        {
            <li class="project_sidemenu--workpackage">
                <h3>@wp.Title</h3>

                <ol>
                    @foreach (var step in wp.Steps)
                    {
                        <li>
                            @if (!wp.IsVisible)
                            {
                                <del>
                                    @step.Title
                                </del>
                            }
                            else
                            {
                                <a asp-action="Step" asp-controller="WorkpackageOne" asp-route-id="@step.Id">
                                    @if (step.IsSelected)
                                    {
                                        <b>@step.Title</b>
                                    }
                                    else
                                    {
                                        @step.Title
                                    }

                                </a>
                            }

                        </li>
                    }
                </ol>
            </li>
        }
    </ol>
</aside>
