@model IEnumerable<Ubora.Web._Features.Projects.Workpackages.WorkpackageMenuViewModel>

<aside class="project_sidemenu">
    <div class="">
        <ul class="list-sidebar">
            <li class="my-2">
                <a asp-action="ProjectOverview" asp-controller="WorkPackageOne" class="checked-status">
                    <img class="side-menu-icon-primary mr-1" src="/images/icons/check.svg" alt="Check icon">
                    <span class="nav-label">Design planning</span>
                </a>
            </li>
            @foreach (var workPackage in Model)
            {
                <li class="my-2">
                    <a href="#" class="@(workPackage.HasBeenAccepted ? "checked-status" : workPackage.IsMuted ? "muted-status" : "" ) collapsed active" data-toggle="collapse" data-target="#@workPackage.WorkPackageId">
                        <img class="side-menu-icon-primary mr-1" src="@workPackage.WorkPackageImageSrc" alt="@workPackage.Title icon">
                        <span class="nav-label">@workPackage.Title</span>
                    </a>
                    <ul class="sub-menu @(workPackage.IsAnyMenuLinkSelected ? "" : "collapse")" id="@workPackage.WorkPackageId">
                        @foreach (var menuLink in workPackage.MenuLinks)
                        {
                            <li class="my-2">
                                <a class="@(menuLink.IsSelected ? "active-status" : workPackage.HasBeenAccepted ? "checked-status" : "" )" href="@menuLink.Href">
                                    <img class="side-menu-icon-secondary" src="@(menuLink.IsSelected ? "/images/icons/arrow.svg" : workPackage.HasBeenAccepted ? "/images/icons/check.svg" : "/images/icons/circle.svg")" alt="icon"><span class="ml-4">@menuLink.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</aside>