@using Ubora.Web._Features.Projects.Workpackages.One
@model Ubora.Web._Features.Projects.Workpackages.WorkpackagesOverviewViewModel

<aside class="project_sidemenu">
    <ol>
        <!-- TODO: forEach all workpackages -->
        <li class="project_sidemenu--workpackage">
            <a href="@Url.Action(nameof(WorkpackageOneController.Index), "WorkpackageOne")">
                <h3>@Model.WorkpackageOne.Title</h3>
            </a>

            <ol>
                @foreach (var step in Model.WorkpackageOne.Steps)
                {
                    <li>
                        <a href="@Url.Action(step.ActionName, step.ControllerName)">
                            @if (step.IsSelected)
                            {
                                <b>@step.Title</b>
                            }
                            else
                            {
                                @step.Title
                            }
                        </a>
                    </li>
                }
            </ol>
        </li>
        <!-- TODO: End forEach -->
    </ol>
</aside>
