@model Ubora.Web._Features.Projects.History.WorkPackages.EditWorkpackageTwoEventViewModel

<li class="list-group-item">
  <div class="col d-flex flex-column">
    <span>@Html.ActionLink(Model.EventInitiatedBy.Name, "ViewProfile", "Profile", new { userId = Model.EventInitiatedBy.UserId }) edited WP2 <a asp-controller="WorkpackageTwo" asp-action="Read" asp-route-stepId="@Model.StepId">"@Model.Title"</a>.&nbsp;</span>
      <p class="history-timestamp timeago" title="@Model.Timestamp">@Model.Timestamp.ToString("dd.MM.yyyy")</p>
  </div>
</li>
