@model Ubora.Web._Features.Projects.InviteMentors.ProjectMentorInvitationNotificationViewModel

@if (!Model.IsHistory)
{
    var isUnreadCss = Model.IsUnread ? "notification-unread" : "";

    @*TODO: add 'notification-unread' only for unread notifications*@
    <div class="notification notification-unread @isUnreadCss">
        <div class="notification-container">
            <p class="mb-0 py-1">
                You have been asked to mentor project
                <a asp-controller="Dashboard" asp-action="Dashboard" asp-route-projectId="@Model.ProjectId">@Model.ProjectTitle</a>
            </p>
            <form class="notification-controls" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="InvitationId" />
                <button class="btn btn-outline-primary btn-sm align-self-start" type="submit" asp-controller="Notifications" asp-action="DeclineMentorInvitation">Decline</button>
                <button class="btn btn-primary btn-sm ml-2 align-self-start" type="submit" asp-controller="Notifications" asp-action="AcceptMentorInvitation">Accept</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="notification">
        <div class="notification-container">
            <p class="mb-0 py-1">
                You were asked to mentor project <a asp-controller="Dashboard" asp-action="Dashboard" asp-route-projectId="@Model.ProjectId">@Model.ProjectTitle</a>.
                You
                @if (Model.WasAccepted)
                {
                    <b>accepted</b><span>&#46;</span>
                }
                else
                {
                    <b>declined</b><span>&#46;</span>
                }
            </p>
        </div>
    </div>
}
