@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.InviteMentors.MentorsViewModel
@{
    ViewData["Title"] = "Project mentors";
    ViewData["MenuOption"] = ProjectMenuOption.Members;
}


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">UBORA</a></li>
        <li class="breadcrumb-item"><a asp-controller="Members" asp-action="Members">Members</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
@if (Model.ProjectMentors.Any())
{
    <h1>@ViewData["Title"]</h1>
    <div class="row my-4">
        @foreach (var mentor in Model.ProjectMentors)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 my-2">
                <div class="card user-card box-shadow-2">
                    <div class="justify-content-center">
                        <img class="card-img-top mt-4 avatar" src="@mentor.ProfilePictureLink" alt="@mentor.FullName profile picture">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a asp-action="ViewProfile" asp-controller="Profile" asp-route-userId="@mentor.UserId">@mentor.FullName</a>
                        </h4>
                        @*TODO: show all roles*@
                        <p>Mentor&nbsp;</p>
                        <form class="form-group" asp-action="InviteMentor">
                            <input type="hidden" name="@nameof(mentor.UserId)" value="@mentor.UserId"/>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}

<h1>All UBORA mentors</h1>
<div class="row my-4">
    @foreach (var mentor in Model.UboraMentors)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 my-2">
            <div class="card user-card box-shadow-2">
                <div class="justify-content-center">
                    <img class="avatar mt-4" src="@mentor.ProfilePictureLink" alt="@mentor.FullName profile picture">
                </div>
                <div class="card-body pb-0">
                    <h4 class="card-title">
                        <a asp-action="ViewProfile" asp-controller="Profile" asp-route-userId="@mentor.UserId">@mentor.FullName</a>
                    </h4>
                </div>
                <form class="form-group py-2" asp-action="InviteMentor">
                    @if (mentor.IsInvited)
                    {
                        <span class="d-block mb-2">Invitation sent</span>
                        <button class="btn btn-outline-primary" type="submit" disabled>Invite mentor</button>
                    }
                    else
                    {
                        <input type="hidden" name="@nameof(mentor.UserId)" value="@mentor.UserId"/>
                        <button class="btn btn-outline-primary" type="submit">Invite mentor</button>
                    }
                </form>
            </div>
        </div>
    }
</div>