@using Ubora.Web._Components.Commenting

@model DiscussionViewModel

<div asp-validation-summary="All"></div>

<div class="row mb-4">
    <div class="col-sm-12 col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="mb-4">All comments</h2>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="col-lg-2">
                            <img class="avatar avatar-comment" src="@comment.ProfilePictureUrl" />
                        </div>
                        <div class="col-lg-10 mb-4">
                            <span class="comment more">
                                @comment.CommentText
                            </span>
                            @if (comment.IsEdited)
                            {
                                <span class="color-grey">(edited)</span>
                            }
                            <span class="d-block mt-2 comment-section">
                                @if (comment.CanBeEdited)
                                {
                                    <div class="d-flex align-items-center">
                                        <button class="btn btn-link mr-2" role="button" data-toggle="collapse" data-target="#@comment.Id">Edit</button>
                                        <button class="btn btn-link mr-2" role="button" data-toggle="modal" data-target="#removeCommentModal-@comment.Id">Delete</button>
                                        <span class="timeago" title="@(comment.CommentEditedAt.ToString("o"))">@(comment.CommentEditedAt.ToString("dd.MM.yyyy"))</span>
                                    </div>
                                    @Html.Partial("~/_Components/Commenting/_DeleteComment.cshtml", new DeleteCommentModel
                                    {
                                        CommentId = comment.Id,
                                        CommentText = comment.CommentText,
                                        DeleteCommentActionPath = Model.DeleteCommentActionPath
                                    })

                                    <div class="collapse mt-2" id="@comment.Id">
                                        @Html.Partial("~/_Components/Commenting/_EditComment.cshtml", model: new EditCommentModel
                                        {
                                            CommentId = comment.Id,
                                            CommentText = comment.CommentText,
                                            EditCommentActionPath = Model.EditCommentActionPath
                                        })
                                    </div>
                                }
                                else
                                {
                                    <span class="timeago" title="@(comment.CommentEditedAt.ToString("o"))">
                                        @(comment.CommentEditedAt.ToString("dd.MM.yyyy"))
                                    </span>
                                }
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        @Html.Partial("~/_Components/Commenting/_AddComment.cshtml", new AddCommentModel { AddCommentActionPath = Model.AddCommentActionPath })
    </div>
</div>
