@model IsoStandardIndexVieModel

<div class="d-flex justify-content-between">
    <div class="custom-control custom-checkbox">
        @{
            var controllerAction = Model.IsMarkedAsCompliant ? nameof(IsoCompliancesController.MarkAsNoncompliant) : nameof(IsoCompliancesController.MarkAsCompliant);
            var isoCheckboxId = "checkbox-for-" + Model.IsoStandardId;
        }
        <form asp-action="@controllerAction" asp-controller="@nameof(IsoCompliancesController).RemoveSuffix()">
            <input type="hidden" value="@Model.IsoStandardId" name="@nameof(Model.IsoStandardId)" />
            <input type="checkbox" class="custom-control-input js-iso-checkbox" checked="@Model.IsMarkedAsCompliant" id="@isoCheckboxId" />
            <label class="custom-control-label" for="@isoCheckboxId">
                <a href="@Model.Link" target="_blank">@Model.Title</a>
            </label>
        </form>
    </div>
    @Html.Partial("_RemoveIsoStandardButtonAndModal.cshtml", Model)
</div>
@if (!string.IsNullOrWhiteSpace(Model.ShortDescription))
{
    <p id="@("short-description-for-iso-standard-" + Model.IsoStandardId)" class="px-4 pt-2">
        @Model.ShortDescription
    </p>
}
<hr />