@model IsoStandardIndexVieModel

@{
    var modalId = "modal-remove-standard-" + Model.IsoStandardId;
}

<span data-toggle="tooltip" title="Remove ISO standard">
    <button class="btn btn-icon color-blue align-self-start py-0" type="button" data-toggle="modal" data-target="#@modalId">
        <i class="material-icons">
            delete_forever
        </i>
    </button>
</span>

<div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove ISO standard</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="@nameof(IsoCompliancesController.RemoveIsoStandard)" asp-controller="@nameof(IsoCompliancesController).RemoveSuffix()">
                <input type="hidden" name="@nameof(RemoveIsoStandardCommand.IsoStandardId)" value="@Model.IsoStandardId"/>
                <div class="modal-body">
                    <p>
                        Are you sure you want to remove ISO standard "@Model.Title" from checklist?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Yes, remove</button>
                </div>
            </form>
        </div>
    </div>
</div>