@using Ubora.Web.Data
@using Ubora.Web.Services
@using Ubora.Web._Features.Notifications
@using Ubora.Web._Areas.ResourcesArea.ResourcesMenus

@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationUserManager UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (!User.IsEmailConfirmed())
    {
        <p class="notice-account-confirmation">We have sent an email confirmation link to @User.GetEmail()<br><a class="notice-account-confirmation-link" href="@Url.Action("ResendEmailConfirmation", "Account")">Resend confirmation email?</a></p>
    }
}

@* NOTE: If you edit something in the header don't forget that there is code duplication for signed in user and anonymous user. *@
@if (SignInManager.IsSignedIn(User))
{
    <nav class="header navbar navbar-expand-lg box-shadow">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img id="UboraLogo" src="~/images/icons/ubora-logo.svg" alt="UBORA logo">
            </a>
            @*TODO: add link to donation page*@
            <a href="#" class="btn btn-icon" title="Support UBORA">
                <i class="material-icons">favorite_border</i>
                <span class="d-none d-lg-inline-block">Support</span>
            </a>
        </div>
        <div class="navbar-md">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle header navigation">
                <i class="material-icons">menu</i>
            </button>
            <a class="nav-link nav-link-notification" asp-controller="Notifications" asp-action="Index">
                @await Component.InvokeAsync(typeof(UnreadNotificationsViewComponent))
            </a>
            <div class="btn-group">
                <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="@User.GetProfilePictureUrl()" class="avatar" />
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <p class="dropdown-header">
                        <b>@User.GetFullName()</b>
                        <span class="d-block">@User.GetEmail()</span>
                    </p>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-controller="Manage" asp-action="Index">
                        Profile settings
                    </a>
                    <form asp-action="Logout" asp-controller="Account" method="post">
                        <button class="btn btn-link dropdown-item" type="submit">
                            Log out
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div id="headerNavbar" class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="LandingPage" asp-action="LandingPage" asp-area="@Areas.ClinicalNeedsArea">
                        Clinical needs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="ProjectList" asp-action="Search" title="Projects">
                        Device projects
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="@nameof(ResourcesMenusController.HighestPriorityResourcePage)" asp-controller="@nameof(ResourcesMenusController).RemoveSuffix()" asp-area="@Areas.ResourcesArea" title="Resources">
                        Resources
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="UserList" asp-action="Index" title="Community">
                        Community
                    </a>
                </li>
                @if (User.IsInRole(ApplicationRole.Admin))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Diagnostics" title="Manage UBORA">
                            Admin
                        </a>
                    </li>
                }
                <li class="nav-item notification-item">
                    <a class="nav-link nav-link-notification" asp-controller="Notifications" asp-action="Index" title="Notifications">
                        @await Component.InvokeAsync(typeof(UnreadNotificationsViewComponent))
                    </a>
                </li>
            </ul>
            <div class="btn-group d-none d-lg-block">
                <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="@User.GetProfilePictureUrl()" class="avatar" />
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <p class="dropdown-header">
                        <b>@User.GetFullName()</b>
                        <span class="d-block">@User.GetEmail()</span>
                    </p>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-controller="Manage" asp-action="Index">
                        Profile settings
                    </a>
                    <form asp-action="Logout" asp-controller="Account" method="post">
                        <button class="btn btn-link dropdown-item" type="submit">
                            Log out
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
}
else
{
    <nav class="header navbar navbar-expand-lg box-shadow sticky-top">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img id="UboraLogo" src="~/images/icons/ubora-logo.svg" alt="UBORA logo" height="48">
        </a>
        @*TODO: add link to donation page*@
        <a href="#" class="btn btn-icon" title="Support UBORA">
            <i class="material-icons">favorite_border</i>
            <span class="d-none d-lg-inline-block">Support</span>
        </a>
        <button class="navbar-toggler px-0" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle header navigation">
            <i class="material-icons">menu</i>
        </button>
        <div id="headerNavbar" class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="LandingPage" asp-action="LandingPage" asp-area="@Areas.ClinicalNeedsArea">
                        Clinical needs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="ProjectList" asp-action="Search">
                        Device projects
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="UserList" asp-action="Index">
                        Community
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="@nameof(ResourcesMenusController.HighestPriorityResourcePage)" asp-controller="@nameof(ResourcesMenusController).RemoveSuffix()" asp-area="@Areas.ResourcesArea">
                        Resources
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="SignInSignUp" asp-controller="Account" asp-action="Login">
                        Log in
                    </a>
                </li>
            </ul>
        </div>
    </nav>
}
