@using Ubora.Web._Features.Projects._Shared
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="The biomedical engineering open design platform">
    <meta name="author" content="AgileWorks Ltd.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/images/favicon.png" rel="icon" type="image/png">
    <title>@ViewData["Title"] - UBORA</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <environment names="Development">
      <script
        src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        asp-fallback-src="~/dist/libs/jquery.min.js"
        asp-fallback-test="window.jQuery">
      </script>
    </environment>

    <environment names="Staging,Production">
      <script
        src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        asp-fallback-src="~/dist/libs/jquery.min.js"
        asp-fallback-test="window.jQuery">
      </script>
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body>
    @await Html.PartialAsync("_Header")

    <main>
        @{
            var projectMenuOption = ViewData["MenuOption"];
            if (projectMenuOption != null)
            {
                @await Html.PartialAsync("~/_Features/Projects/_Shared/_ProjectMenu.cshtml", new ProjectMenuViewModel((ProjectMenuOption)projectMenuOption))
            }
        }

        @RenderBody()

        @if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("_FeedbackModal")
        }

        @Html.Partial("_Notices")
    </main>

    @await Html.PartialAsync("_Footer")


    @RenderSection("Scripts", required: false)

    <environment names="Development">
      <script src="~/dist/scripts.bundle.js"></script>
    </environment>

    <environment names="Staging,Production">
      <script src="~/dist/scripts.bundle.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
