@using Ubora.Web._Features.Projects._Shared
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="The biomedical engineering open design platform">
    <meta name="author" content="AgileWorks Ltd.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - UBORA</title>

    <link href="~/images/favicon.png" rel="icon" type="image/png">

    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <environment names="Development">
      <link href="~/dist/styles.dev.css" rel="stylesheet">
    </environment>

    <environment names="Staging,Production">
      <link href="~/dist/styles.bundle.css" rel="stylesheet" asp-append-version="true">
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body>
    @await Html.PartialAsync("_Header")

    <main>
        @{
            var projectMenuOption = ViewData["MenuOption"];
            if (projectMenuOption != null)
            {
                @await Html.PartialAsync("~/_Features/Projects/_Shared/_ProjectMenu.cshtml", new ProjectMenuViewModel((ProjectMenuOption)projectMenuOption))
            }
        }

        @RenderBody()

        @if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("_FeedbackModal")
            <a href="javascript:void(0);" id="feedback-modal-trigger"><i class="material-icons">chat_bubble</i>Feedback</a>
        }
        @Html.Partial("_Notices")
    </main>

    @await Html.PartialAsync("_Footer")

    <environment names="Development">
      <script src="~/dist/vendors.dev.js"></script>
      <script src="~/dist/scripts.dev.js"></script>

      @*<script src="~/dist/vendors.js"></script>
      <script src="~/dist/scripts.bundle.js"></script>*@


      @*<script>
      $(function() {
        // feedbackModule('@Context.Request.Path', '@Url.Action("Send", "Feedback")');
        console.info('@Context.Request.Path', '@Url.Action("Send", "Feedback")');
      })
    </script>*@

    </environment>

    <environment names="Staging,Production">
      <script src="~/dist/scripts.bundle.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
