@using Ubora.Web._Features.Projects._Shared
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - UBORA</title>
    <link rel="icon" type="image/png" href="~/images/favicon.png">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/openSans/openSans.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/lib/simplemde/dist/simplemde.min.css">

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body>
    @await Html.PartialAsync("_Header")

    <main>
        @{
            var projectMenuOption = ViewData["MenuOption"];
            if (projectMenuOption != null)
            {
                @await Html.PartialAsync("~/_Features/Projects/_Shared/_ProjectMenu.cshtml", new ProjectMenuViewModel((ProjectMenuOption)projectMenuOption))
            }
        }
        @RenderBody()

        @if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("_FeedbackModal")
            <a href="javascript:void(0);" id="feedback-modal-trigger"><i class="material-icons">chat_bubble</i>Quick Feedback</a>
        }
    </main>

    @await Html.PartialAsync("_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/simplemde/dist/simplemde.min.js"></script>
    <script src="~/lib/marked/marked.min.js"></script>
    <script src="~/js/UBORA.js"></script>

    @*TODO(Kaspar Kallas)*@
    <script>
    $(function () {
        var modal = document.getElementById('feedback-modal');
        var triggerButton = document.getElementById('feedback-modal-trigger');
        var closeButtton = document.getElementById('feedback-modal-close');

        triggerButton.onclick = function () {
            modal.style.display = 'block';
        }

        closeButtton.onclick = function () {
            modal.style.display = 'none';
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }

        var sendButton = document.getElementById('feedback-send');
        var modalBeforeSend = document.getElementById('feedback-modal-before');
        var modalAfterSend = document.getElementById('feedback-modal-after');
        var userFeedback = document.getElementById('feedback');

        sendButton.onclick = (function () {
            var data = {
                feedback: userFeedback.value,
                fromPath: '@Context.Request.Path'
            };

            $.ajax({
                url: '@Url.Action("Send", "Feedback")',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function () {
                    modalBeforeSend.style.display = 'none';
                    modalAfterSend.style.display = '';
                    userFeedback.value = '';

                    window.setTimeout(function () {
                        modal.style.display = 'none';
                        modalBeforeSend.style.display = '';
                        modalAfterSend.style.display = 'none';
                    }, 2000);
                }
            });
        });
    });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
