@using Ubora.Domain.Infrastructure.Specifications
@using Ubora.Domain.Resources
@using Ubora.Web._Features.Resources
@inject Ubora.Domain.Infrastructure.Queries.IQueryProcessor QueryProcessor

<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Head", required: false)
    @{
        Html.RenderPartial("_LayoutHead");
    }
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

<body>
@{
    Html.RenderPartial("_Header");
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-sm-3 py-3 border-right h-min-50-md">
                @{
                    var leftSection = RenderSection("Left", required: false);
                    if (leftSection != null)
                    {
                        @leftSection
                    }
                    else
                    {
                        <form>
                            <div class="form-group">
                                <input placeholder="Search..." class="form-control" type="text" />
                            </div>
                        </form>
                        var resources = QueryProcessor.Find(new MatchAll<ResourcePage>(), new ResourceIndexViewModel.Mapper());
                        <nav class="nav flex-column">
                            @foreach (var resource in resources)
                            {
                                <a class="nav-link px-1" asp-action="Read" asp-controller="Resources" asp-route-slug="@resource.Slug">@resource.Title</a>
                            }
                        </nav>
                    }
                }
            </div>
            <div class="col-lg-8 col-sm-9 py-3 px-xl-9">
                @RenderBody()
            </div>
            <div class="col-lg-2 py-3 d-none d-lg-block">
                @RenderSection("Right", required: false)
            </div>
        </div>
    </div>
</main>

@{
    Html.RenderPartial("_Footer");
    Html.RenderPartial("_LayoutBody");
}
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>