@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Repository.FileHistoryViewModel

@{
    ViewData["Title"] = "File history";
    ViewData["MenuOption"] = ProjectMenuOption.Repository;
}



<div class="container my-4">
    @*TODO: add breadcrumb*@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Repository</a></li>
            <li class="breadcrumb-item active" aria-current="page">History of filename.jpg</li>
        </ol>
    </nav>

      <h2 >History of @Model.FileName</h2>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
              <tr>
                  <th scope="col">Download</th>
                  <th scope="col">Date added</th>
                  <th scope="col">Revision number</th>
                  <th scope="col">Size (kB)</th>
                  <th scope="col">Comment</th>
              </tr>
          </thead>
          <tbody>
              @foreach (var file in Model.Files)
              {
                  <tr>
                      <td>
                          <a href="@Url.Action("DownloadHistoryFile","Repository", new { eventId = file.EventId })" title="Download file" aria-label="Download file" class="js-tooltip" data-placement="bottom">
                              <i class="file-list--item-control material-icons">file_download</i>
                          </a>
                          <i class="file-list--item-control material-icons js-tooltip js-copy"
                             title="Copy file path to clipboard"
                             aria-label="Copy file"
                             data-toggle="tooltip"
                             data-placement="bottom"
                             data-copy="@Url.Action("DownloadHistoryFile","Repository", new { eventId = file.EventId },  Context.Request.Scheme)">
                              content_copy
                          </i>
                      </td>
                      <td class="timeago" title="@file.FileAddedOn">@file.FileAddedOn.ToString("dd.MM.yyyy")</td>
                      <td>@file.RevisionNumber</td>
                      <td>@file.FileSizeInKbs</td>
                      <td>@file.Comment</td>
                  </tr>
              }
          </tbody>
        </table>

  </div>
</div>
