@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Repository.ProjectRepositoryViewModel

@{
    ViewData["Title"] = "Repository";
    ViewData["MenuOption"] = ProjectMenuOption.Repository;
}

<div class="layout-columns">
    <div class="layout-sidemenu">
        @Html.Partial("AddFilePartial", Model.AddFileViewModel)
    </div>

    <div class="layout-content">
        <section class="medium-width">
            <div class="repository-folder">
                <h2>Hardware</h2>

                    <table class="table table-filelist">
                        <tr>
                            <th></th>
                            <th>File name</th>
                            <th>Size</th>
                            <th>Comment</th>
                        </tr>

                        @foreach (var file in Model.Files)
                        {
                            <tr class="table-row-content-center">
                                <td>
                                    <a href="@Url.Action("DownloadFile", new {fileId = file.Id})" title="Download file" aria-label="Download file">
                                        <i class="file-list--item-control material-icons">file_download</i>
                                    </a>

                                    <a href="@Url.Action("UpdateFile", new {fileId = file.Id})" title="Update file" aria-label="Update file">
                                        <i class="file-list--item-control material-icons">file_upload</i>
                                    </a>

                                    @if (Model.IsProjectLeader)
                                    {
                                        <a href="@Url.Action("HideFile", new {fileId = file.Id})" title="Delete file forever" aria-label="Delete file forever">
                                            <i class="file-list--item-control material-icons">delete_forever</i>
                                        </a>
                                    }

                                    <a href="@Url.Action("FileHistory", new {fileId = file.Id})" title="File history" aria-label="File history">
                                        <i class="file-list--item-control material-icons">history</i>
                                    </a>
                                </td>
                                <td>@file.FileName</td>
                                <td>@file.FileSize</td>
                                <td>@file.Comment</td>
                            </tr>
                        }
                    </table>
            </div>

            <div class="repository-folder">
                <h2>Electronics and firmware</h2>
            </div>

            <div class="repository-folder">
                <h2>Software</h2>
            </div>

            <div class="repository-folder">
                <h2>System integrations</h2>
            </div>
        </section>
    </div>
