@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Repository.ProjectRepositoryViewModel

@{
    ViewData["Title"] = "Repository";
    ViewData["MenuOption"] = ProjectMenuOption.Repository;
}

<div class="container-fluid my-4">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      @Html.Partial("AddFilePartial", Model.AddFileViewModel)
    </div>
    <div class="col-sm-12 col-md-8">
      @foreach (var files in Model.AllFiles)
      {
        <h2>@files.Key</h2>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">File name</th>
                <th scope="col">Revision number</th>
                <th scope="col">Size (kB)</th>
                <th scope="col">Comment</th>
              </tr>
            </thead>
            <tbody>

            @foreach (var file in files)
            {
              <tr>
                <td>
                  <a href="@file.DownloadUrl" title="Download file" aria-label="Download file">
                    <i class="file-list--item-control material-icons">file_download</i>
                  </a>

                  <a href="@Url.Action("UpdateFile", new {fileId = file.Id})" title="Update file" aria-label="Update file">
                    <i class="file-list--item-control material-icons">file_upload</i>
                  </a>

                  <a href="@Url.Action("FileHistory", new {fileId = file.Id})" title="File history" aria-label="File history">
                    <i class="file-list--item-control material-icons">history</i>
                  </a>

                  <i
                    class="file-list--item-control material-icons js-copy-to-clipboard"
                    title="Copy file path to clipboard"
                    aria-label="Copy file"
                    data-uripath="@file.DownloadUrl">content_copy</i>
                  @if (Model.IsProjectLeader)
                  {
                    <a href="@Url.Action("HideFile", new {fileId = file.Id})" title="Delete file forever" aria-label="Delete file forever">
                    <i class="file-list--item-control material-icons">delete_forever</i>
                    </a>
                  }
                </td>
                <td>@file.FileName</td>
                <td>@file.RevisionNumber</td>
                <td>@file.FileSizeInKbs</td>
                <td>@file.Comment</td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      }
    </div>
  </div>
</div>
