@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Repository.ProjectRepositoryViewModel

@{
    ViewData["Title"] = "Repository";
    ViewData["MenuOption"] = ProjectMenuOption.Repository;
}

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-lg-3 pl-5">
            @Html.Partial("AddFilePartial", Model.AddFileViewModel)
        </div>
        <div class="col-lg-9 pr-5">
            @foreach (var files in Model.AllFiles)
            {
                <h2>@files.Key</h2>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="width-12"></th>
                                <th class="width-36">File name</th>
                                <th class="width-12">Revision number</th>
                                <th class="width-8">Size (kB)</th>
                                <th class="width-32">Comment</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var file in files)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("DownloadFile","Repository", new { fileId = file.Id })" title="Download file" aria-label="Download file" class="js-tooltip" data-placement="bottom">
                                            <i class="file-list--item-control material-icons">file_download</i>
                                        </a>

                                        <a href="@Url.Action("UpdateFile", new {fileId = file.Id})" title="Update file" aria-label="Update file" class="js-tooltip" data-placement="bottom">
                                            <i class="file-list--item-control material-icons">file_upload</i>
                                        </a>

                                        <a href="@Url.Action("FileHistory", new {fileId = file.Id})" title="File history" aria-label="File history" class="js-tooltip" data-placement="bottom">
                                            <i class="file-list--item-control material-icons">history</i>
                                        </a>

                                        <i class="file-list--item-control material-icons js-tooltip js-copy"
                                           title="Copy file path to clipboard"
                                           aria-label="Copy file"
                                           data-toggle="tooltip"
                                           data-placement="bottom"
                                           data-copy="@Url.Action("DownloadFile","Repository", new { fileId = file.Id }, Context.Request.Scheme)">
                                            content_copy
                                        </i>

                                        @if (Model.IsProjectLeader)
                                        {
                                            <a href="@Url.Action("HideFile", new {fileId = file.Id})" title="Delete file forever" aria-label="Delete file forever" class="js-tooltip" data-placement="bottom">
                                                <i class="file-list--item-control material-icons">delete_forever</i>
                                            </a>
                                        }

                                    </td>
                                    <td class="break-word-all">@file.FileName</td>
                                    <td>@file.RevisionNumber</td>
                                    <td>@file.FileSizeInKbs</td>
                                    <td>@file.Comment</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @{     await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css"
          asp-fallback-href="~/dist/lib/dropzone.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/dropzone.js"
            asp-fallback-src="~/dist/lib/dropzone.js">
    </script>
    <script src="~/dist/drag_and_drop_file_uploads.bundle.js"></script>
}
