@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Repository.ProjectRepositoryViewModel

@{
    ViewData["Title"] = "Repository";
    ViewData["MenuOption"] = ProjectMenuOption.Repository;
}

<div class="layout-columns">
  <div class="layout-sidemenu">
    @Html.Partial("AddFilePartial", Model.AddFileViewModel)
  </div>

  <div class="layout-content">
    <section class="medium-width">
      <div class="repository-folder">
        <h2>Hardware</h2>
        <ul class="file-list">
          @* TODO: Martin Betlem - segregate files in a similar fashion under each "folder" alphabetically *@
          @*
           @foreach (var file in Model.Files)
          {
              <li class="file-list--item">
                  <a href="@Url.Action("DownloadFile", new {fileId = file.Id})" title="Download file" aria-label="Download file">
                      <i class="file-list--item-control material-icons">file_download</i>
                  </a>

                  <a href="@Url.Action("UpdateFile", new {fileId = file.Id})" title="Update file" aria-label="Update file">
                      <i class="file-list--item-control material-icons">file_upload</i>
                  </a>

                  @if (Model.IsProjectLeader)
                  {
                    <a href="@Url.Action("HideFile", new {fileId = file.Id})" title="Delete file forever" aria-label="Delete file forever">
                        <i class="file-list--item-control material-icons">delete_forever</i>
                    </a>
                  }

                  TODO: Martin Betlem - add a dedicated view.
                  <a href="@Url.Action("HistoryFile")" title="File history" aria-label="File history">
                    <i class="file-list--item-control material-icons">history</i>
                  </a>

                  <span class="file-list--name">@file.FileName</span>
              </li>
          } *@

          <table class="table table-filelist">
            <tr>
              <th></th>
              <th>File name</th>
              <th>Revision number</th>
              <th>Size</th>
              <th>Comment</th>
            </tr>
            <tr class="table-row-content-center">
              <td>
                @* TODO: Martin Betlem - add functionality *@
                <a href="#" title="Download file" aria-label="Download file">
                    <i class="file-list--item-control material-icons">file_download</i>
                </a>

                <a href="#" title="Update file" aria-label="Update file">
                    <i class="file-list--item-control material-icons">file_upload</i>
                </a>

                @if (Model.IsProjectLeader)
                {
                  <a href="#" title="Delete file forever" aria-label="Delete file forever">
                      <i class="file-list--item-control material-icons">delete_forever</i>
                  </a>
                }

                <a href="@Url.Action("HistoryFile")" title="File history" aria-label="File history">
                  <i class="file-list--item-control material-icons">history</i>
                </a>
              </td>
              <td>Very_special_and_specific_file_for_upload_also_with_a_very_long_name.pdf</td>
              <td>2.0</td>
              <td>540kb</td>
              <td>A new, enhanced version of my project file</td>
            </tr>
            <tr class="table-row-content-center">
            <td>
              <a href="#" title="Download file" aria-label="Download file">
                  <i class="file-list--item-control material-icons">file_download</i>
              </a>

              <a href="#" title="Update file" aria-label="Update file">
                  <i class="file-list--item-control material-icons">file_upload</i>
              </a>

              @if (Model.IsProjectLeader)
              {
                <a href="#" title="Delete file forever" aria-label="Delete file forever">
                    <i class="file-list--item-control material-icons">delete_forever</i>
                </a>
              }

              <a href="@Url.Action("HistoryFile")" title="File history" aria-label="File history">
                <i class="file-list--item-control material-icons">history</i>
              </a>
            </td>
            <td>Short.exe</td>
            <td>1.0</td>
            <td>320kb</td>
            <td>This is the initial version of my project file.</td>
            </tr>
          </table>

        </ul>
      </div>

      <div class="repository-folder">
        <h2>Electronics and firmware</h2>
      </div>

      <div class="repository-folder">
        <h2>Software</h2>
      </div>

      <div class="repository-folder">
        <h2>System integrations</h2>
      </div>
    </section>
  </div>
