@model ProjectCardViewModel

@{
    var cardClass = "card" + (Model.ShowCardShadow ? " box-shadow" : "");
    var projectHref = Url.Action("Dashboard", "Dashboard", new { projectId = Model.ProjectId });
    var projectImageSrc = string.IsNullOrEmpty(Model.ProjectImageUrl) ? "/images/project-default-image.png" : Model.ProjectImageUrl;
}

<div class="@(cardClass)">
    <a href="@(projectHref)" class="card-link">
        <img class="card-img-top" src="@(projectImageSrc)" alt="Image for project called @Model.ProjectTitle">
        @if (Model.IsDraftProject)
        {
            <p class="project-status-draft">Draft</p>
        }
        <div class="card-body">
            <h5 class="card-title">@Model.ProjectTitle</h5>
        </div>
    </a>
</div>
