@model ProjectCardViewModel

@{
    var cardClass = "card";
    var projectHref = Url.Action("Dashboard", "Dashboard", new { projectId = Model.ProjectId });
    var projectImageSrc = string.IsNullOrEmpty(Model.ProjectImageUrl) ? "/images/project-default-image.png" : Model.ProjectImageUrl;
}

<div class="@(cardClass) project-card">
    <a href="@(projectHref)" class="card-link">
        <img class="card-img-top" src="@(projectImageSrc)" alt="Image for project called @Model.ProjectTitle">
        <h6 class="card-title">@Model.ProjectTitle</h6>
        <div class="card-body text-dark">
            <dl class="font-xs">
                <dt>Clinical need</dt>
                <dd class="mb-1">@Model.ClinicalNeedTags</dd>
                <dt>Area</dt>
                <dd class="mb-1">@Model.AreaTags</dd>
                <dt>Technology</dt>
                <dd class="mb-1">@Model.TechnologyTags</dd>
            </dl>
            @if (!Model.IsDraftProject)
            {
                <span class="badge badge-pill badge-green font-xs align-middle py-1 px-2">Approved by mentor</span>
            }
        </div>
    </a>
</div>
