@model ProjectCardViewModel

@{
    var cardClass = "card" + (Model.ShowCardShadow ? " box-shadow-2" : "");
    var projectHref = Url.Action("Dashboard", "Dashboard", new { projectId = Model.ProjectId });
    var projectImageSrc = string.IsNullOrEmpty(Model.ProjectImageUrl) ? "/images/project-default-image.png" : Model.ProjectImageUrl;
}

<div class="@(cardClass) project-card">
    <a href="@(projectHref)" class="card-link">
        <img class="card-img-top" src="@(projectImageSrc)" alt="Image for project called @Model.ProjectTitle">
        <h6 class="card-title">@Model.ProjectTitle</h6>
        <div class="card-body color-dark">
            <dl class="font-size-0-8">
                <dt>Clinical need</dt>
                <dd class="mb-1">Monitoring purpose</dd>
                <dt>Area</dt>
                <dd class="mb-1">Public health</dd>
                <dt>Technology</dt>
                <dd class="mb-1">Software</dd>
            </dl>
            @if (!Model.IsDraftProject)
            {
            <span class="badge badge-pill badge-green font-size-0-8 align-middle py-1 px-2">WP1 accepted by UBORA formal review</span>
            }
        </div>
    </a>
</div>
