@using Ubora.Web._Features.ProjectList.Models

@model StepOneModel

@{
    ViewData["Title"] = "Indicate a new clinical need";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">UBORA</a></li>
        <li class="breadcrumb-item"><a asp-action="LandingPage" asp-controller="LandingPage">Clinical needs</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<h1 class="d-inline-block">@ViewData["Title"]</h1>

<p>Please take a look at existing <a asp-action="LandingPage" asp-controller="LandingPage">clinical needs</a> and <a asp-route-Tab="@TabType.AllProjects" asp-action="Search" asp-controller="ProjectList">device projects</a> to make sure the clinical need has not already been indicated or solved.</p>

<form class="js-onbeforeunload" asp-action="@nameof(IndicateClinicalNeedController.StepTwo)">
    <input asp-for="ClinicalNeedTag" type="hidden" />
    <input asp-for="AreaOfUsageTag" type="hidden" />
    <input asp-for="PotentialTechnologyTag" type="hidden" />
    <input asp-for="Keywords" type="hidden" />
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input class="form-control" asp-for="Title" placeholder="Give a name to the clinical need." />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" type="hidden" />
        <span asp-validation-for="Description"></span>
        <div id="toolbar-container" style="display: none;">@Html.Partial("_QuillToolbarFormatsPartial", new QuillToolbarFormatOptionsForClinicalNeed())</div>
        <div id="editor-container" style="display: none;"></div>
    </div>
    <div class="d-flex justify-content-end">
        <span class="px-4 py-1">1<span class="color-grey">/2</span></span>
        <button class="btn btn-primary" type="submit">Continue</button>
    </div>
</form>

@section Scripts {
    <script>
        @if (Model.RestoreStepOneUrl)
        {
            <text>history.replaceState({}, "@ViewData["Title"]", "@Url.Action(nameof(IndicateClinicalNeedController.StepOne))");</text>
        }

        var contentInputSelector = "#@nameof(Model.Description)";
        var editorSelector = "#editor-container";
        var toolbarSelector = "#toolbar-container";
        var initialContent = @(string.IsNullOrEmpty(Model.Description) ? new StringHtmlContent("null") : Html.Raw(Model.Description));
        UBORA.initEditor(editorSelector, toolbarSelector, contentInputSelector, initialContent);
    </script>
}