@model ResourceHistoryViewModel

@{
    ViewData["Title"] = ViewData["ResourcePageTitle"];
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">UBORA</a></li>
        <li class="breadcrumb-item"><a asp-action="@nameof(ResourcesMenusController.HighestPriorityResourcePage)" asp-controller="@nameof(ResourcesMenusController).RemoveSuffix()">Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

@Html.Partial("_ResourcePageTabsPartial.cshtml")

<h1>@ViewData["Title"]</h1>
@foreach (var @event in Model.Events)
{
    @(@event.GetPartialView(Html))
}
