@model ResourceReadViewModel

@{
    ViewData["Title"] = ViewData["ResourcePageTitle"];
}

@section Left {
    @Html.Partial("_LeftResourcePagesNavMenuPartial.cshtml")
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="@nameof(ResourcesMenusController.HighestPriorityResourcePage)" asp-controller="@nameof(ResourcesMenusController).RemoveSuffix()">Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

@Html.Partial("_ResourcePageTabsPartial.cshtml")

<h1>@Model.Title</h1>

<div id="content-body" class="py-3">
    @Html.Raw(Model.ContentHtml)
</div>


@section Right {
    @if (await AuthorizationService.IsAuthorizedAsync(User, Policies.CanManageResourcePages))
    {
        <div class="mb-3">
            <a asp-action="@nameof(ResourcePageCreationController.Add)" asp-controller="ResourcePageCreation" class="my-2 btn btn-block btn-outline-primary">
                <i class="material-icons">add</i>
                <span>Create new resource page</span>
            </a>
            <a asp-action="@nameof(ResourceCategoriesController.Create)" asp-controller="ResourceCategories" class="my-2 btn btn-block btn-outline-primary">
                <i class="material-icons">add</i>
                <span>Create new resource category</span>
            </a>
        </div>
    }

    <nav id="table-of-contents" class="nav-right-sticky d-none d-lg-block">
    </nav>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            Toc.init({
                $scope: $('#content-body'),
                $nav: $('#table-of-contents'),
            });
        });
    </script>
}