@model ResourceReadViewModel

@{
    ViewData["Title"] = ViewData["ResourcePageTitle"];
}

@section Left {
    @Html.Partial("_LeftResourcePagesNavMenuPartial.cshtml")
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="@nameof(IndexController.Index)" asp-controller="@nameof(IndexController).RemoveSuffix()">Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

@Html.Partial("_ResourcePageTabsPartial.cshtml")

<h1>@Model.Title</h1>

<div id="content-body" class="py-3">
    @(Html.Raw(Model.BodyHtml))
</div>

@section Right {
    <nav id="table-of-contents" class="nav-right-sticky">
        <span class="color-grey">Table of contents</span>
    </nav>
}

@section Scripts {
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.0/dist/bootstrap-toc.min.js" 
            asp-fallback-test="Toc"
            asp-fallback-src="~/dist/libs/bootstrap-toc.min.js"></script>
    <script>
        Toc.init({
            $nav: $('#table-of-contents'),
            $scope: $('#content-body')
        })</script>
    <script>$('body').scrollspy({ target: '#table-of-contents' })</script>
}