@model ResourceReadViewModel

@{
    ViewData["Title"] = ViewData["ResourcePageTitle"];
}

@section Left {
    @Html.Partial("_LeftResourcePagesNavMenuPartial.cshtml")
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="@nameof(IndexController.Index)" asp-controller="@nameof(IndexController).RemoveSuffix()">Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

@Html.Partial("_ResourcePageTabsPartial.cshtml")

<h1>@Model.Title</h1>

<div id="content-body" class="py-3">
    @(Html.Raw(Model.Body))
</div>

@section Right {
    <nav id="content-navigation" class="nav nav-pills flex-column nav-right-sticky" data-spy="scroll" data-target="#content-body">
        <span class="color-grey">Table of contents</span>
    </nav>

    <ul class="nav-right-sticky">
        <li>
            <a href="#" class="nav-link ">Kotkas</a>
            <ul>
                <li><a href="#" class="nav-link active">Eesti liigid</a></li>
                <li><a href="#" class="nav-link">Kaitse</a></li>
                <li><a href="#" class="nav-link">Välimus</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="nav-link">Vares</a>
        </li>
        <li>
            <a href="#" class="nav-link">Sääsk</a>
        </li>
    </ul>

}


@section Scripts
    {
    <script>
        $('#content-body').find("h1, h2, h3, h4, h5, h6").each(function (_, element) {
            $(element).attr('id', UBORA.slugify(element.firstChild.textContent));
            $('#content-navigation')
                .append(
                    `<a class="nav-link" href="#${$(element).attr('id')}">${$(element).text()}</a>`);
        });
    </script>
}