@using Ubora.Web._Features.Projects.Workpackages
@model Ubora.Web._Features.Projects.DeviceClassifications.DeviceClassificationQuestionViewModel

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
        </div>
        <div class="col-sm-12 col-md-8 d-flex flex-column align-items-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <h2>@Model.Text</h2>

            @foreach (var answerChoice in Model.Answers)
            {
                <form asp-action="Answer" method="post">
                    <input type="hidden" asp-for="QuestionId" />
                    <input type="hidden" asp-for="QuestionnaireId" />
                    <input type="hidden" name="@nameof(answerChoice.AnswerId)" value="@answerChoice.AnswerId" />
                    <button class="btn btn-secondary-ghost btn-lg" type="submit">@answerChoice.Text</button>
                </form>
            }
            
            <pre>
@Model.Class
</pre>
        </div>
    </div>
</div>