@using Microsoft.AspNetCore.Authorization
@using Ubora.Web._Features.Projects.Workpackages.SideMenu

@model Ubora.Web._Features.Projects._Shared.ProjectMenuViewModel

@{
    var canViewProjectNonPublicContent = await AuthorizationService.IsAuthorizedAsync(User, Policies.CanViewProjectNonPublicContent);
}

<nav class="project-header nav nav-tabs flex-column flex-md-row justify-content-center">
  <a class="nav-item nav-link @Model.OverviewActivityCssClass" asp-controller="Dashboard" asp-action="Dashboard">Overview</a>
  @if (canViewProjectNonPublicContent)
  {
    <a class="nav-item nav-link @Model.WorkpackagesActivityCssClass" asp-controller="WorkpackageOne" asp-action="ProjectOverview">Work packages</a>
    <a class="nav-item nav-link @Model.RepositoryActivityCssClass" asp-controller="Repository" asp-action="Repository">Repository</a>
    <a class="nav-item nav-link @Model.TasksActivityCssClass" asp-controller="Assignments" asp-action="Assignments">Assignments</a>
  }
  <a class="nav-item nav-link @Model.MembersActivityCssClass" asp-controller="Members" asp-action="Members">Members</a>
  @if (canViewProjectNonPublicContent)
  {
      <a class="nav-item nav-link @Model.HistoryActivityCssClass" asp-controller="History" asp-action="History">History</a>
  }
</nav>



<div class="project-header-md dropdown">
    <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton" id="projectNavMobile">
        <a class="dropdown-item nav-item nav-link @Model.OverviewActivityCssClass" asp-controller="Dashboard" asp-action="Dashboard">Overview</a>
        @if (canViewProjectNonPublicContent)
        {
            <a class="dropdown-item nav-item nav-link @Model.WorkpackagesActivityCssClass" asp-controller="WorkpackageOne" asp-action="ProjectOverview">Work packages</a>
            <a class="dropdown-item nav-item nav-link @Model.RepositoryActivityCssClass" asp-controller="Repository" asp-action="Repository">Repository</a>
            <a class="dropdown-item nav-item nav-link @Model.TasksActivityCssClass" asp-controller="Assignments" asp-action="Assignments">Assignments</a>
        }
        <a class="dropdown-item nav-item nav-link @Model.MembersActivityCssClass" asp-controller="Members" asp-action="Members">Members</a>
        @if (canViewProjectNonPublicContent)
        {
            <a class="dropdown-item nav-item nav-link @Model.HistoryActivityCssClass" asp-controller="History" asp-action="History">History</a>
        }
    </div>
</div>


<script>
    var activeLink = $("#projectNavMobile .active").text();
    $("#dropdownMenuButton").html(activeLink);
</script>
