@using Ubora.Web._Features.Projects.Workpackages
@model Ubora.Web._Features.Projects.ApplicableRegulations.NextQuestionViewModel

<section class="project-view full-width">
    @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
    <section class="medium-width">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="center-element">
            <h1>@Model.Text</h1>

        </div>

        @if (!string.IsNullOrWhiteSpace(Model.Answer))
        {
            <div class="center-element">
                <h2>You answered: @(Model.Answer)</h2>
            </div>
        }
        else
        {
            <form class="questionnaire-form" method="post">
                @Html.AntiForgeryToken()

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="QuestionnaireId" />

                <div class="center-element">
                    <button class="button secondary-button small-button" type="submit" asp-action="AnswerYes">Yes</button>
                    <button class="button secondary-button small-button" type="submit" asp-action="AnswerNo">No</button>
                </div>

            </form>
        }
       

        <div class="questionnaire-navigation">
            @if (Model.PreviousAnsweredQuestionId != null)
            {
                <a asp-action="ReviewQuestion" asp-route-questionId="@Model.PreviousAnsweredQuestionId" asp-route-questionnaireId="@Model.QuestionnaireId"><i class="material-icons">keyboard_arrow_left</i> Back</a>
            }
            else
            {
                <span></span>
            }

            @if (Model.NextQuestionId != null)
            {
                <a asp-action="ReviewQuestion" asp-route-questionId="@Model.NextQuestionId" asp-route-questionnaireId="@Model.QuestionnaireId">Forward<i class="material-icons">keyboard_arrow_right</i> </a>
            }
            else
            {
                <span></span>
            }
        </div>
        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <h3>Notes</h3>

            <p>@Model.Note</p>
        }

    </section>
</section>