@using Ubora.Web._Features.Projects.Workpackages
@model Ubora.Web._Features.Projects.ApplicableRegulations.NextQuestionViewModel

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
        </div>
        <div class="col-sm-12 col-md-8 d-flex flex-column align-items-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <h2>@Model.Text</h2>
        
        

            <form method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="QuestionnaireId" />

                <button class="btn btn-secondary-ghost btn-lg" type="submit" asp-action="AnswerYes">Yes</button>
                <button class="btn btn-secondary-ghost btn-lg" type="submit" asp-action="AnswerNo">No</button>
            </form>
        

            <div class="questionnaire-navigation">
                @if (Model.PreviousAnsweredQuestionId.HasValue)
                {
                    <a asp-action="ReviewQuestion" asp-route-questionId="@Model.PreviousAnsweredQuestionId" asp-route-questionnaireId="@Model.QuestionnaireId"><i class="material-icons">keyboard_arrow_left</i>Back</a>
                }
                else
                {
                    <span></span>
                }

                @if (Model.NextQuestionId.HasValue)
                {
                    <a asp-action="ReviewQuestion" asp-route-questionId="@Model.NextQuestionId" asp-route-questionnaireId="@Model.QuestionnaireId">Forward<i class="material-icons">keyboard_arrow_right</i> </a>
                }
                else
                {
                    <span></span>
                }
            </div>
        

            <div class="justify-content-start my-4">
                @if (!string.IsNullOrEmpty(Model.Note))
                {
                    <h3>Notes</h3>
                    <p>@Model.Note</p>
                }
            </div>
        </div>
    </div>
</div>
