@using Ubora.Web._Features.Projects.Workpackages
@model Ubora.Web._Features.Projects.ApplicableRegulations.QuestionnaireIndexViewModel

<section class="project-view full-width">
    @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))

    <section class="medium-width step-view">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (Model.Last != null)
        {
            if (!Model.Last.IsFinished)
            {
                <p>
                    <a class="button primary-button small-button mobile-full-width" asp-controller="ApplicableRegulations" asp-action="Review" asp-route-questionnaireId="@Model.Last.QuestionnaireId">Continue answering questionnaire started at @Model.Last.StartedAt</a>
                </p>

            }
            else
            {
                <p>
                    Last: <a asp-controller="ApplicableRegulations" asp-action="Review" asp-route-questionnaireId="@Model.Last.QuestionnaireId">@Model.Last.StartedAt</a>
                </p>
            }
        }

        @if (Model.Last == null || Model.Last.IsFinished)
        {
            <form asp-action="Start" method="post">
                <button type="submit" class="button primary-button small-button mobile-full-width">Start questionnaire</button>
            </form>
        }

        @if (Model.Previous.Any())
        {
            @:Previous:
            <ul>
                @foreach (var questionnaire in Model.Previous)
                {
                    <li>
                        <a asp-controller="ApplicableRegulations" asp-action="Review" asp-route-questionnaireId="@questionnaire.QuestionnaireId">@questionnaire.StartedAt</a>
                    </li>
                }
            </ul>
        }
    </section>
</section>