@model Ubora.Web._Features.Notifications.Invitations.InvitationToJoinProjectNotificationViewModel

@{
    var isUnreadCss = Model.IsUnread ? "notification-unread" : "";
}

@if (Model.IsPending)
{
    <div class="notification @isUnreadCss">
        <div class="d-flex justify-content-between">
            <p>You have been asked to join project <a asp-controller="Dashboard" asp-action="Dashboard" asp-route-projectId="@Model.ProjectId">@Model.ProjectTitle</a></p>
            <form class="notification-controls" method="post">
                <input type="hidden" asp-for="InvitationId"/>
                <button class="btn btn-outline-primary btn-sm align-self-start" type="submit" asp-controller="Invitations" asp-action="Decline">Decline</button>
                <button class="btn btn-primary btn-sm ml-2 align-self-start" type="submit" asp-controller="Invitations" asp-action="Accept">Accept</button>
            </form>
        </div>
        @Html.TimeAgoHistorySpan(Model.CreatedAt)
    </div>
}
else
{
    <div class="notification">
        <p>
            You were asked to join project <a asp-controller="Dashboard" asp-action="Dashboard" asp-route-projectId="@Model.ProjectId">@Model.ProjectTitle</a>.
            You
            @if (Model.WasAccepted)
            {
                <b>accepted</b>
                <span>&#46;</span>
            }
            else
            {
                <b>declined</b>
                <span>&#46;</span>
            }
        </p>
        @Html.TimeAgoHistorySpan(Model.CreatedAt)
    </div>
}