@model Ubora.Web._Features.Notifications.Invitations.InvitationToJoinProjectNotificationViewModel

@if (Model.IsPending)
{
    var isUnreadCss = Model.IsUnread ? "notification-unread" : "";

    <div class="row notification @isUnreadCss">
        <div class="col-lg-10 px-2">
            <p>You have been asked to join project <a asp-controller="Dashboard" asp-action="Dashboard" asp-route-projectId="@Model.ProjectId">@Model.ProjectTitle</a></p>
        </div>
        <div class="col-lg-2 px-2">
            <form class="notification-controls" method="post">
                <input type="hidden" asp-for="InvitationId" />
                <button class="btn btn-outline-primary btn-sm align-self-start" type="submit" asp-controller="Invitations" asp-action="Decline">Decline</button>
                <button class="btn btn-primary btn-sm ml-2 align-self-start" type="submit" asp-controller="Invitations" asp-action="Accept">Accept</button>
            </form>
        </div>
        <div class="col-lg-12 px-2">
            @Html.TimeAgoHistorySpan(Model.CreatedAt)
        </div>
    </div>
}
else
{
    <div class="row notification">
        <div class="col-lg-12 px-2">
            <p>
                You were asked to join project <a asp-controller="Dashboard" asp-action="Dashboard" asp-route-projectId="@Model.ProjectId">@Model.ProjectTitle</a>.
                You
                @if (Model.WasAccepted)
                {
                    <b>accepted</b><span>&#46;</span>
                }
                else
                {
                    <b>declined</b><span>&#46;</span>
                }
            </p>
        </div>
        <div class="col-lg-12 px-2">
            @Html.TimeAgoHistorySpan(Model.CreatedAt)
        </div>    
    </div>
}