@model Ubora.Web._Features.Projects.Workpackages.Steps.PreproductionDocuments.WP1TemplatePartialViewModel

@{
    var isNonEmptyClinicalNeeds = !string.IsNullOrEmpty(Model.ClinicalNeeds);
    var isNonEmptyExistingSolutions = !string.IsNullOrEmpty(Model.ExistingSolutions);
    var isNonEmptyIntendedUsers = !string.IsNullOrEmpty(Model.IntendedUsers);
    var isNonEmptyProductRequirements = !string.IsNullOrEmpty(Model.ProductRequirements);
}

@if (isNonEmptyClinicalNeeds || isNonEmptyExistingSolutions || isNonEmptyIntendedUsers || isNonEmptyProductRequirements)
{
    <h1>Project context</h1>
}

@if (isNonEmptyClinicalNeeds)
{
    <h2>Clinical needs</h2>

    @Html.Raw(Model.ClinicalNeeds)
}

@if (isNonEmptyExistingSolutions)
{
    <h2>Existing solutions</h2>

    @Html.Raw(Model.ExistingSolutions)
}

@if (isNonEmptyIntendedUsers)
{
    <h2>Intended Users</h2>

    @Html.Raw(Model.IntendedUsers)
}

@if (isNonEmptyProductRequirements)
{
    <h2>Proposed product and its innovative aspects</h2>

    @Html.Raw(Model.ProductRequirements)
}

@foreach (var reviewQuestionnaireViewModel in Model.ReviewQuestionnaireViewModels)
{
    <h1>Questionnaire results:</h1>
    <p>
        Most of the cited standards are issued by ISO; some of them are also harmonized (=approved) by the European Commission and in this case they are identified by the EN code. Since the EN version contains more information than the general version, links are provided to the EN version in English language if appropriate.
    </p>
    <table>
        <thead>
        <tr>
            <th>Question</th>
            <th>Standard</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var questionAnswer in reviewQuestionnaireViewModel.QuestionAnswerList)
        {
            <tr>
                <td>
                    <span>@questionAnswer.QuestionText</span>
                    <p>You answered: @(questionAnswer.Answer)</p>
                </td>
                @if (questionAnswer.Answer.Equals("Yes", StringComparison.InvariantCultureIgnoreCase))
                {
                    @Html.Raw(questionAnswer.IsoStandardText)
                }
                else
                {
                    <td></td>
                    <td></td>
                }
            </tr>
        }
        </tbody>
    </table>

    <p>There may be product specific standards that apply, talk to your mentor.</p>
}
