@model Ubora.Web._Features.Projects.Workpackages.Steps.PreproductionDocuments.WP1TemplatePartialViewModel

@if (Model.WorkpackageStepViewModels.Count != 0)
{
    <h1>Project context</h1>
}

@foreach (var workpackageStepViewModel in Model.WorkpackageStepViewModels)
{
    if (!string.IsNullOrEmpty(workpackageStepViewModel.Content))
    {
         <h2>@workpackageStepViewModel.Title</h2>

         @Html.Raw(workpackageStepViewModel.Content)
    }
}

@foreach (var reviewQuestionnaireViewModel in Model.ReviewQuestionnaireViewModels)
{
    <h1>Questionnaire results:</h1>
    <p>
        Most of the cited standards are issued by ISO; some of them are also harmonized (=approved) by the European Commission and in this case they are identified by the EN code. Since the EN version contains more information than the general version, links are provided to the EN version in English language if appropriate.
    </p>
    <table>
        <thead>
        <tr>
            <th>Question</th>
            <th>Standard</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var questionAnswer in reviewQuestionnaireViewModel.QuestionAnswerList)
        {
            <tr>
                <td>
                    <span>@questionAnswer.QuestionText</span>
                    <p>You answered: @(questionAnswer.Answer)</p>
                </td>
                @if (questionAnswer.Answer.Equals("Yes", StringComparison.InvariantCultureIgnoreCase))
                {
                    @Html.Raw(questionAnswer.IsoStandardText)
                }
                else
                {
                    <td></td>
                    <td></td>
                }
            </tr>
        }
        </tbody>
    </table>

    <p>There may be product specific standards that apply, talk to your mentor.</p>
}
