@model Ubora.Web._Features.Projects.Workpackages.Steps.PreproductionDocuments.WP3TemplatePartialViewModel

<h1>DESIGN AND PROTOTYPING</h1>

<h2>Hardware</h2>

<h3>CommercialParts</h3>

@Html.Raw(Model.GeneralProductDescriptionHardwareCommercialParts)

<h3>PurposelyDesignedParts</h3>

@Html.Raw(Model.GeneralProductDescriptionHardwarePurposelyDesignedParts)

<h3>PrototypesAndFunctionalTrials</h3>

@Html.Raw(Model.GeneralProductDescriptionHardwarePrototypesAndFunctionalTrials)

<h2>ElectronicAndFirmware</h2>

<h3>CommercialParts</h3>

@Html.Raw(Model.GeneralProductDescriptionElectronicAndFirmwareCommercialParts)

<h3>PurposelyDesignedParts</h3>

@Html.Raw(Model.GeneralProductDescriptionElectronicAndFirmwarePurposelyDesignedParts)

<h3>PrototypesAndFunctionalTrials</h3>

@Html.Raw(Model.GeneralProductDescriptionElectronicAndFirmwarePrototypesAndFunctionalTrials)

<h2>Software</h2>

<h3>ExistingSolutions</h3>

@Html.Raw(Model.GeneralProductDescriptionSoftwareExistingSolutions)

<h3>PurposelyDesignedParts</h3>

@Html.Raw(Model.GeneralProductDescriptionSoftwarePurposelyDesignedParts)

<h3>PrototypesAndFunctionalTrials</h3>

@Html.Raw(Model.GeneralProductDescriptionSoftwarePrototypesAndFunctionalTrials)

<h2>SystemIntegration</h2>

<h3>PrototypesAndFunctionalTrials</h3>

@Html.Raw(Model.GeneralProductDescriptionSystemIntegrationPrototypesAndFunctionalTrials)

<h2>SystemIntegration</h2>

@Html.Raw(Model.DesignForIsoTestingCompliance)

<h2>SystemIntegration</h2>

@Html.Raw(Model.InstructionsForFabricationOfPrototypes)


