@model Ubora.Web._Features.Admin.ProjectsUnderReviewViewModel

@{ 
    ViewData["Title"] = "All projects under review";
}

<div class="container my-5">
    <h1>@ViewData["Title"]</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table">
        <thead>
            <tr>
                <th>Project</th>
                <th>Mentors</th>
            </tr>
        <tbody>
            @foreach (var project in Model.ProjectsUnderReview)
            {
                <tr>
                    <td>
                        <a asp-controller="Dashboard" asp-action="Dashboard" asp-route-projectId="@project.Id">@project.Title</a>
                    </td>
                    <td>
                        @foreach (var mentor in project.ProjectMentors)
                        {
                            <a asp-controller="Profile" asp-action="ViewProfile" asp-route-userId="@mentor.Key">@mentor.Value</a>@(project.ProjectMentors.Keys.Last() == mentor.Key ? "" : ",")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>