@model Ubora.Web._Features.Admin.ProjectsUnderReviewViewModel

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Mentors</th>
                    </tr>
                <tbody>
                    @foreach (var project in Model.ProjectsUnderReview)
                    {
                        <tr>
                            <td class="w-100">
                                <a asp-controller="Dashboard" asp-action="Dashboard" asp-route-projectId="@project.Id">@project.Title</a>
                            </td>
                            <td>
                                @foreach (var mentor in project.ProjectMentors)
                                {
                                    <a asp-controller="Profile" asp-action="ViewProfile" asp-route-userId="@mentor.Key">@mentor.Value</a>@(project.ProjectMentors.Keys.Last() == mentor.Key ? "" : ",")
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>