@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.Reviews.WorkpackageReviewListViewModel

@{
    ViewData["Title"] = "Formal review";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-lg-3">
            @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
        </div>

        <div class="col-lg-9 pr-5">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <p>The medical need and product specification can not be modified if 1) the project is under review 2) it passed the review</p>
            @if (Model.SubmitForReviewButton.IsVisible)
            {
                <div class="text-center">
                    <h1 class="display-4 mb-4">You can submit your project for review.</h1>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#submitProjectModal">Submit project for review</button>

                    <div class="modal fade" id="submitProjectModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Submit review?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="@Model.SubmitForReviewUrl" method="post" asp-antiforgery="true">
                                    <div class="modal-body">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <p>Are you sure you want to submit your project for review? It cannot be changed.</p>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-secondary-ghost" data-dismiss="modal">No, cancel</button>
                                            <span class="mx-1"></span>
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            }
            else if (Model.SubmitForReviewButton.IsHiddenWithMessage)
            {
                <section>
                    <p><i>@Model.SubmitForReviewButton.HideReasonMessage</i></p>
                </section>
            }
            @if (Model.Reviews.Any())
            {
                <section>
                    <h2>Reviews</h2>
                    @foreach (var review in Model.Reviews)
                    {
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th class="w-25" cope="row"><b>Status:</b></th>
                                    <td>@review.Status.ToString()</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>Concluding comment:</b></th>
                                    <td>@review.ConcludingComment</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>Created at:</b></th>
                                    <td class="timeago" title="@review.SubmittedAt">@review.SubmittedAt</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>Concluded at:</b></th>
                                    <td class="timeago" title="@review.ConcludedAt">@review.ConcludedAt</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    }

                    @{
                        var isAuthorizedToWriteReview = await AuthorizationService.IsAuthorizedAsync(User, Policies.CanReviewProjectWorkpackages);
                        if (isAuthorizedToWriteReview && Model.IsAnyReviewInProcess)
                        {
                            <a href="@Model.ReviewDecisionUrl" class="btn btn-primary">Write a review</a>
                        }
                    }
                </section>
                        }
        </div>
    </div>
</div>
