@using Ubora.Domain.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.Reviews.WorkpackageReviewListViewModel

@{
    ViewData["Title"] = "Formal review";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<div class="col-lg-9 pr-5">

    <h1 class="display-4 mb-4">Formal review</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @if (Model.SubmitForReviewButton.IsVisible)
    {
        <p>You can submit your project for review:</p>
        <button class="btn btn-primary" data-toggle="modal" data-target="#submitProjectModal">Submit project for review</button>

        <div class="modal fade" id="submitProjectModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Submit project for review</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="@Model.SubmitForReviewUrl" method="post" asp-antiforgery="true">
                        <div class="modal-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <p>
                                Work package 1 can not be edited while it is under review or after it has passed the review.
                            </p>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <div class="form-group">
                                <button type="button" class="btn btn-secondary-ghost" data-dismiss="modal">No, cancel</button>
                                <span class="mx-1"></span>
                                <button class="btn btn-primary" type="submit">Yes, submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    else if (Model.SubmitForReviewButton.IsHiddenWithMessage)
    {
        <section>
            <p><i>@Model.SubmitForReviewButton.HideReasonMessage</i></p>
        </section>
    }

    @if (Model.Reviews.Any())
    {
        <section>
            @foreach (var review in Model.Reviews)
                {
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="w-25" cope="row"><b>Status:</b></th>
                            <td>@review.Status.ToString()</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>Concluding comment:</b></th>
                            <td>@review.ConcludingComment</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>Created at:</b></th>
                            <td class="timeago" title="@review.SubmittedAt">@review.SubmittedAt</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>Concluded at:</b></th>
                            <td class="timeago" title="@review.ConcludedAt">@review.ConcludedAt</td>
                        </tr>
                    </tbody>
                </table>
                <br />
            }

            <p>
                WP1: Medical need and product specification can <em>not</em> be edited if:
            </p>
            <ol>
                <li>
                    The project is under review;
                </li>
                <li>
                    It passed the review;
                </li>
            </ol>

            @if (await Model.IsWriteReviewButtonVisible(User, AuthorizationService))
            {
                <a href="@Model.ReviewDecisionUrl" class="btn btn-primary">Write a review</a>
            }

            @if (await Model.IsReopenWp1ButtonVisible(User, AuthorizationService))
            {
                @Html.Partial("_ReopenWp1Partial", Model)
            }
        </section>
    }
</div>
