@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.Reviews.WorkpackageReviewListViewModel

@{
    ViewData["Title"] = "Formal review";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<div class="container-fluid my-4">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
    </div>

    <div class="col-sm-12 col-md-8">

      <div asp-validation-summary="ModelOnly" class="text-danger"></div>

      @if (Model.SubmitForReviewButton.IsVisible)
        {
          <div class="text-center">
            <form action="@Model.SubmitForReviewUrl" method="post" asp-antiforgery="true">
              <h1 class="mb-4">You can submit your project for review.</h1>
              <button type="submit" class="btn btn-primary btn-lg">Submit project for review</button>
            </form>
          </div>
        }
          else if (Model.SubmitForReviewButton.IsHiddenWithMessage)
          {
              <section>
                  <p><i>@Model.SubmitForReviewButton.HideReasonMessage</i></p>
              </section>
          }
          @if (Model.Reviews.Any())
          {
            <section>
              <h2>Reviews</h2>
              @foreach (var review in Model.Reviews)
              {
                  <table class="table">
                    <tbody>
                      <tr>
                          <th class="w-25" cope="row"><b>Status:</b></th>
                          <td>@review.Status.ToString()</td>
                      </tr>
                      <tr>
                          <th scope="row"><b>Concluding comment:</b></th>
                          <td>@review.ConcludingComment</td>
                      </tr>
                      <tr>
                          <th scope="row"><b>Created at:</b></th>
                          <td>@review.SubmittedAt</td>
                      </tr>
                      <tr>
                          <th scope="row"><b>Concluded at:</b></th>
                          <td>@review.ConcludedAt</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
              }
              @{
                  var isWriteReviewButtonVisible = (await AuthorizationService.AuthorizeAsync(User, Policies.CanReviewProjectWorkpackages)).Succeeded;
                  if (isWriteReviewButtonVisible)
                  {
                      <a href="@Model.ReviewDecisionUrl" class="button primary-button small-button">Write a review</a>
                  }
              }
          </section>
      }
    </div>
  </div>
</div>
