<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Head", required: false)
    @{
        Html.RenderPartial("_LayoutHead");
    }
</head>

<body>
@{
    Html.RenderPartial("_Header");
}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-12 py-xl-3 pb-3 h-min-xl-100 order-1 @(IsSectionDefined("Left") ? "border-right" : "")">
                @{
                    var leftSection = RenderSection("Left", required: false);
                    if (leftSection != null)
                    {
                        @leftSection
                    }
                }
            </div>
            <div class="col-xl-8 py-xl-3 px-xl-7 pb-3 order-xl-2 order-3">
                @*@RenderSection("Breadcrumb", required: false)*@

                @RenderBody()
            </div>
            <div class="col-xl-2 py-xl-3 order-xl-3 order-2 pb-3 @(IsSectionDefined("Right") ? "border-left" : "")" >
                @RenderSection("Right", required: false)
            </div>
        </div>
    </div>
</main>
@{
    Html.RenderPartial("_LayoutBody");
}
@RenderSection("Scripts", required: false)
</body>
</html>