<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Head", required: false)

    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"
          asp-fallback-test-class="ql-snow"
          asp-fallback-href="~/dist/quill.snow.css">
    @{
        Html.RenderPartial("_LayoutHead");
    }

</head>

<body>
    @{
        Html.RenderPartial("_Header");
    }
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2 col-lg-12 py-xl-3 pb-3 h-min-xl-100 order-1 @(IsSectionDefined("Left") ? "border-right" : "")">
                    @{
                        var leftSection = RenderSection("Left", required: false);
                        if (leftSection != null)
                        {
                            @leftSection
                        }
                    }
                </div>
                <div class="py-xl-3 px-xl-7 pb-3 order-lg-1 order-2 @(IsSectionDefined("Rigth") ? "col-lg-8" : "col-xl-8")">

                    @RenderSection("Body", required: false)
                    @RenderBody()

                </div>
                @{
                    if (IsSectionDefined("right"))
                    {
                        <div class="col-xl-2 col-lg-4 py-xl-3 order-lg-2 order-1 pb-3">
                            @RenderSection("Right", required: false)
                        </div>

                    }
                }
            </div>
        </div>
    </main>
    @{
        Html.RenderPartial("_LayoutBody");
    }

    <script src="//cdn.quilljs.com/1.3.6/quill.js"
            asp-fallback-test="Quill"
            asp-fallback-src="~/dist/quill.min.js"></script>
    <script src="~/dist/quill.bundle.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>