@{
    Layout = "~/_Areas/ClinicalNeedsArea/_Shared/_Layout.cshtml";
    var viewModel = (LayoutViewModel)ViewData["LayoutViewModel"];
}

@section Body {

    @if (!IsSectionDefined("ClinicalNeedHeader"))
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="LandingPage" asp-controller="LandingPage">Clinical needs</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>

        <h1 class="d-inline-block">@ViewData["Title"]</h1>

        <div class="color-grey font-size-0-8 mb-3">

            <a class="no-underline" asp-route-userId="@viewModel.IndicatorUserId" asp-action="@nameof(ProfileController.ViewProfile)" asp-controller="@nameof(ProfileController).RemoveSuffix()" asp-area="">
                <span>
                    <img class="avatar avatar-author" src="@viewModel.IndicatorProfilePictureUrl" />
                    <span class="mx-xl-1 mx-md-2 my-1 d-xs-none"></span>
                    @viewModel.IndicatorFullName
                </span>
            </a>

            <span class="dot mx-xl-2 mx-md-2 my-1 d-xs-none"></span>

            <span>indicated @Html.TimeAgoHistorySpan(viewModel.IndicatedAt)</span>
        </div>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link @(viewModel.ActiveTab == ActiveTabOfClinicalNeed.Description ? "active" : "")" asp-action="Overview" asp-controller="Overview">
                    Description
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(viewModel.ActiveTab == ActiveTabOfClinicalNeed.Comments ? "active" : "")" asp-action="Comments" asp-controller="Comments">
                    Comments
                    @if (viewModel.NumberOfComments != 0)
                    {
                        <span class="badge badge-pill badge-dark-outline ml-1">@viewModel.NumberOfComments</span>
                    }
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(viewModel.ActiveTab == ActiveTabOfClinicalNeed.RelatedProjects ? "active" : "")" asp-action="RelatedProjects" asp-controller="RelatedProjects">
                    Related projects
                    @if (viewModel.NumberOfRelatedProjects != 0)
                    {
                        <span class="badge badge-pill badge-dark-outline ml-1">@viewModel.NumberOfRelatedProjects</span>
                    }
                </a>
            </li>
        </ul>
    }
    else
    {
        @RenderSection("ClinicalNeedHeader", required: false)
    }

    <div class="pt-4">
        @RenderBody()
    </div>
}

@section Right {
    @RenderSection("Right", required: false)
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}