@using Ubora.Web._Features.Projects.DeviceClassification
@model QuestionsViewModel

@{
    ViewData["Title"] = "Device classification";
}

<style>
    .classification-button {
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
    }
</style>

<section class="medium-width">
    @foreach (var question in Model.Questions)
        {

        <a class="button secondary-button classification-button" asp-controller="DeviceClassification" asp-action="GetQuestions" asp-route-id="@Model.ProjectId" asp-route-questionId="@question.Id" asp-route-mainQuestionId="@Model.MainQuestionId">@question.Text</a>
        <br />
        }
    <br />
    <br />
    <a class="button secondary-button classification-button" asp-controller="DeviceClassification" asp-action="NextMainQuestion" asp-route-id="@Model.ProjectId" asp-route-mainQuestionId="@Model.MainQuestionId">No it is not.</a>
</section>