@model Ubora.Web._Features.Projects.Workpackages.SideMenu.CollapseMenuItem

<li id="@Model.Id">
    <a href="#@Model.InnerMenuItemsId" data-toggle="collapse" data-target="#@Model.InnerMenuItemsId" class="@(Model.ATagClass)">
        <img src="@(Model.Icon.Src)" alt="icon for @Model.DisplayName"><span>@Model.DisplayName</span>
    </a>

    <ul id="@Model.InnerMenuItemsId" class="@(Model.IsSelected ? "" : "collapse") @(Model.CssClassForItemsBelow)">
        @foreach (var innerMenuItem in Model.InnerMenuItems)
        {
            @innerMenuItem.GenerateHtmlMarkup(this.Html)
        }
    </ul>
</li>