@using Ubora.Domain.Projects.Workpackages.Queries;
@model Ubora.Web._Features.Projects.Workpackages.SideMenu.CollapseMenuItem

<li id="@Model.Id">
    <a href="javascript:void(0)" data-toggle="collapse" data-target=".@Model.InnerMenuItemsId" class="@(Model.ATagClass)">
        <span>@Model.DisplayName</span>
    </a>

    @if (Model.Status != WorkpackageStatus.Closed)
    {
        <ul class="collapse @(Model.IsSelected ? "show" : "") @(Model.CssClassForItemsBelow) @Model.InnerMenuItemsId">
            @foreach (var innerMenuItem in Model.InnerMenuItems)
            {
                @innerMenuItem.GenerateHtmlMarkup(this.Html)
            }
        </ul>
    }
</li>