@using Ubora.Web._Features.Projects.Workpackages
@model Ubora.Web._Features.Projects.Workpackages.Steps.CandidateViewModel

<div class="container-fluid my-4">
    <div class="row">

        <div class="col-lg-3">
            @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
        </div>

        <div class="col-lg-9 pr-5">

            <div class="row mb-4">
                <div class="col">
                    <h1 class="display-4">Conceptual Design</h1>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col">
                            <div class="card w-100 h-100">
                                <img class="card-img-top img-fluid w-100" src="@Model.ImageUrl" alt="Illustrative project photo" />
                                @if (await AuthorizationService.IsAuthorized(User, Policies.CanChangeProjectImage))
                                {

                                  <div class="card-img-overlay text-center">
                                    @if ((await AuthorizationService.AuthorizeAsync(User, null, Policies.CanChangeProjectCandidateImage)).Succeeded)
                                    {
                                        <a class="mx-1" href="@Url.Action("EditCandidateImage", "ConceptualDesign", new { candidateId = Model.Id })">
                                            <i class="material-icons align-middle" id="EditImage">mode_edit</i><span class="align-middle">Change image</span>
                                        </a>
                                    }

                                    @if (Model.HasImage && (await AuthorizationService.AuthorizeAsync(User, null, Policies.CanRemoveProjectCandidateImage)).Succeeded)
                                    {
                                        <a class="mx-1"  href="@Url.Action("RemoveCandidateImage", "ConceptualDesign", new { candidateId = Model.Id })" >
                                            <i class="material-icons align-middle">delete_forever</i><span class="align-middle">Remove image</span>
                                        </a>
                                    }
                                  </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-9">
                            <h2>@Model.Title</h2>
                        </div>
                        <div class="col-sm-12 col-md-3 d-flex justify-content-end">
                            @if ((await AuthorizationService.AuthorizeAsync(User, null, Policies.CanEditProjectCandidate)).Succeeded)
                            {
                                <a class="btn btn-secondary-ghost align-self-start" href="@Url.Action("EditCandidate", "ConceptualDesign", new { candidateId = Model.Id })">
                                    <i class="material-icons" id="EditImage">mode_edit</i>
                                    <span>Edit</span>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-sm-12 col-md-6">
                  <div class="row">
                    <div class="col-lg-12">
                      <h2 class="display-5">All comments</h2>
                    </div>
                    <div class="col-lg-12">
                      <div class="row">
                      @foreach(var comment in Model.Comments)
                      {
                        <div class="col-lg-4">
                          <img class="avatar avatar-comment" src="@comment.ProfilePictureUrl"/>
                          <p>
                            @comment.CommentatorName
                            <br>
                            @*Add role here*@
                          </p>
                        </div>
                        <div class="col-lg-8">
                          <p>@comment.CommentText</p>
                        </div>
                      }
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div>
                      @Html.Partial("_AddCommentPartial", Model.AddCommentViewModel)
                  </div>
                </div>
              </div>

          </div>

    </div>
</div>
