@using Ubora.Web._Features.Projects.Workpackages
@model Ubora.Web._Features.Projects.Workpackages.Steps.CandidateViewModel

<div class="container-fluid my-4">
    <div class="row">

        <div class="col-lg-3">
            @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
        </div>

        <div class="col-lg-9 pr-5">

            <div class="row mb-4">
                <div class="col">
                    <h1 class="display-4">Voting</h1>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-sm-12 col-lg-6">
                    <div class="row">
                        <div class="col">
                            <div class="card w-100 h-100">
                                <img class="card-img-top img-fluid w-100" src="@Model.ImageUrl" alt="Illustrative project photo" />
                                @if (await AuthorizationService.IsAuthorizedAsync(User, Policies.CanChangeProjectImage))
                                {

                                    <div class="card-img-overlay text-center">
                                        @if ((await AuthorizationService.AuthorizeAsync(User, null, Policies.CanChangeProjectCandidateImage)).Succeeded)
                                        {
                                            <a class="mx-1" href="@Url.Action("EditCandidateImage", "ConceptualDesign", new { candidateId = Model.Id })">
                                                <i class="material-icons align-middle" id="EditImage">mode_edit</i><span class="align-middle">Change image</span>
                                            </a>
                                        }

                                        @if (Model.HasImage && (await AuthorizationService.AuthorizeAsync(User, null, Policies.CanRemoveProjectCandidateImage)).Succeeded)
                                        {
                                            <a class="mx-1" href="@Url.Action("RemoveCandidateImage", "ConceptualDesign", new { candidateId = Model.Id })">
                                                <i class="material-icons align-middle">delete_forever</i><span class="align-middle">Remove image</span>
                                            </a>
                                        }
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="row">
                        <div class="col-sm-12 col-lg-9">
                            <h2 class="mb-4">@Model.Title</h2>
                        </div>
                        <div class="col-sm-12 col-lg-3 d-flex justify-content-end">
                            @if ((await AuthorizationService.AuthorizeAsync(User, null, Policies.CanEditProjectCandidate)).Succeeded)
                            {
                                <a class="btn btn-secondary-ghost align-self-start" href="@Url.Action("EditCandidate", "ConceptualDesign", new { candidateId = Model.Id })">
                                    <i class="material-icons" id="EditImage">mode_edit</i>
                                    <span>Edit</span>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>
            </div>

            @*TODO: Voting system implementation*@
            @*<div class="row mb-4">

                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-12">
                        <h2 class="display-5 mb-4">All votes</h2>
                      </div>
                      <div class="col-lg-4 d-flex align-items-center justify-content-center">
                        <div class="circle average-number d-flex align-items-center justify-content-center">
                          8.5
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <span>Very good: 15-20</span>
                        <div class="progress mb-1">
                          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span>Good: 10-15</span>
                        <div class="progress mb-1">
                          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span>Mediocre: 5-10</span>
                        <div class="progress mb-1">
                          <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span>Poor: 0-5</span>
                        <div class="progress mb-1">
                          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-12">
                        <h2 class="display-5 mb-4">Cast your vote</h2>
                      </div>
                      <div class="col-lg-9 col-md-9">
                        <div class="table-responsive">
                          <table class="table table-votes">
                            <tbody>
                              <tr>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">1</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">2</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">3</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">4</div></td>
                                <td><div class="circle vote-number muted-circle d-flex align-items-center justify-content-center">5</div></td>
                                <th scope="row"><div class="d-flex align-items-left">Functionality</div></th>
                              </tr>
                              <tr>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">1</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">2</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">3</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">4</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">5</div></td>
                                <th scope="row"><div class="d-flex align-items-left">Performace</div></th>
                              </tr>
                              <tr>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">1</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">2</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">3</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">4</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">5</div></td>
                                <th scope="row"><div class="d-flex align-items-left">Usability</div></th>
                              </tr>
                              <tr>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">1</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">2</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">3</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">4</div></td>
                                <td><div class="circle vote-number d-flex align-items-center justify-content-center">5</div></td>
                                <th scope="row"><div class="d-flex align-items-left">Safety</div></th>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>*@

            <div class="row mb-4">
                <div class="col-sm-12 col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="display-5 mb-4">All comments</h2>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                @foreach (var comment in Model.Comments)
                                {
                                    <div class="col-lg-2">
                                        <img class="avatar avatar-comment" src="@comment.ProfilePictureUrl" />
                                    </div>
                                    <div class="col-lg-10">
                                        <p>
                                            <strong>@comment.CommentatorName</strong>
                                            @if (comment.IsLeader)
                                            {
                                                <i class="material-icons align-middle" title="Project leader">supervisor_account</i>
                                            }
                                            @if (comment.IsMentor)
                                            {
                                                <i class="material-icons align-middle" title="Project mentor">school</i>
                                            }
                                        </p>
                                        <p>@comment.CommentText</p>
                                        <span class="small-text">
                                          <button class="js-edit btn-link mr-2" role="button">edit</button>
                                          <button class="js-delete btn-link mr-2" role="button">delete</button>
                                          <span class="timeago text-grey" title="@(comment.CommentEditedAt.ToString() + 'Z')">@(comment.CommentEditedAt.ToString("dd.MM.yyyy"))</span>
                                        </span>
                                        @if (comment.CanBeEdited)
                                        {
                                            <form asp-controller="ConceptualDesign" asp-action="RemoveComment" asp-route-commentId="@comment.Id" asp-route-candidateId="@Model.Id" method="post">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="form-group">
                                                    <a class="btn btn-secondary-ghost" asp-controller="ConceptualDesign" asp-action="Candidate" asp-route-candidateId="@Model.Id">No, cancel</a>
                                                    <span class="mx-1"></span>
                                                    <button class="btn btn-primary" type="submit">Yes, remove</button>
                                                </div>
                                            </form>
                                            <div class="edit-comment-content js-edit-comment-content">@Html.Partial("_EditCommentPartial", comment.EditCommentViewModel)</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div>
                        @Html.Partial("_AddCommentPartial", Model.AddCommentViewModel)
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

@section Scripts {
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css"
          asp-fallback-href="~/dist/libs/simplemde.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"
            asp-fallback-src="~/dist/libs/simplemde.min.js"
            asp-fallback-test="window.SimpleMDE">
    </script>

    <script>
        const editToggleElement = document.querySelector('.js-edit');
        const editContentElement = document.querySelector('.js-edit-comment-content');

        editToggleElement.addEventListener('click', event => {
            editContentElement.classList.toggle('edit-comment-content-visible');
        });
    </script>
}
