@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.Steps.CandidateViewModel

@{
    ViewData["Title"] = "Conceptual Design";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<section class="project-view full-width">
    @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))

    <section class="medium-width step-view">

        <p>@Model.Title</p>
        <p>@Model.Description</p>

        <img src="@Model.ImageUrl"/>

        <a href="@Url.Action("EditCandidate", "ConceptualDesign", new { candidateId = Model.Id })">edit</a>
        <a href="@Url.Action("EditCandidateImage", "ConceptualDesign", new { candidateId = Model.Id })">edit image</a>
        
    </section>
</section>
 
