@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.Steps.EditStepViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewData[nameof(ProjectMenuOption)] = ProjectMenuOption.Workpackages;
}

<h1>@Model.Title</h1>
@if (!string.IsNullOrWhiteSpace(Model.Description))
{
    <a class="btn-icon my-3 d-flex align-items-center" data-toggle="collapse" href="#collapseHelpfulTips" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="material-icons mr-1">help</i>
        <span>Helpful tips</span>
    </a>
    <div id="collapseHelpfulTips" class="collapse">@Html.Raw(Model.Description)</div>
}

<form action="@Model.EditStepUrl" method="post" asp-antiforgery="true" class="js-onbeforeunload">
    <input asp-for="StepId" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <input asp-for="ContentQuillDelta" type="hidden" />
        <span asp-validation-for="ContentQuillDelta"></span>
        <div id="toolbar-container" style="display: none;">@Html.Partial("_QuillToolbarFormatsPartial", new ProjectQuillToolbarFormatOptions())</div>
        <div id="editor-container" class="form-group" style="display: none;"></div>
    </div>
    <div class="d-flex flex-wrap-reverse justify-content-center">
        <a class="btn btn-outline-primary" href="@Model.ReadStepUrl">Discard</a>
        <span class="mx-1"></span>
        <button class="btn btn-primary" type="submit">Save changes</button>
    </div>
</form>

@section Scripts {
    <script>
        var contentInputSelector = "#@(nameof(Model.ContentQuillDelta))";
        var editorSelector = "#editor-container";
        var toolbarSelector = "#toolbar-container";
        var initialContent = @Html.Raw(Model.ContentQuillDelta);
        UBORA.initEditor(editorSelector, toolbarSelector, contentInputSelector, initialContent);

    </script>
}