@using Ubora.Web._Features.Projects.Workpackages;
@model Ubora.Web._Features.Projects.Workpackages.Steps.HealthTechnologySpecificationsViewModel

@{
    ViewData[nameof(PageTitle)] = "Health technology specifications";

    var workpackageMenuOptionViewData = (string) ViewData[nameof(WorkpackageMenuOption)];
    var wpControllerName = workpackageMenuOptionViewData == WorkpackageMenuOption.WP4StructuredInformationOnTheDevice
        ? "WorkpackageFour" : "WorkpackageTwo";
}

<div class="col-xl-7 col-lg-9">
<form asp-controller="@wpControllerName" asp-action="HealthTechnologySpecifications" class="js-onbeforeunload">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="DeviceStructuredInformationId">
<div class="row">
<h1 class="col-lg-12 mb-4">@ViewData[nameof(PageTitle)]</h1>
<div class="col-lg-12">

<div class="row mb-4">
    <h5 class="col-lg-12">1. Dimensions (mm<sup>3</sup>):</h5>
    <div class="col-lg-12">
        <div class="form-group">
            <input asp-for="DeviceMeasurementsViewModel.DimensionsLength" class="form-control w-12 text-center d-inline" type="number" min="0" title="Millimetres"/>
            <span> mm x </span>
            <input asp-for="DeviceMeasurementsViewModel.DimensionsWidth" class="form-control w-12 text-center d-inline" type="number" min="0" title="Millimetres"/>
            <span> mm x </span>
            <input asp-for="DeviceMeasurementsViewModel.DimensionsHeight" class="form-control w-12 text-center d-inline" type="number" min="0" title="Millimetres"/>
            <span> mm</span>
        </div>
        <span asp-validation-for="DeviceMeasurementsViewModel.DimensionsLength"></span>
        <span asp-validation-for="DeviceMeasurementsViewModel.DimensionsWidth"></span>
        <span asp-validation-for="DeviceMeasurementsViewModel.DimensionsHeight"></span>
    </div>
</div>

<div class="row mb-4">
    <h5 class="col-lg-12">2. Weight:</h5>
    <div class="col-lg-12">
        <div class="form-group">
            <input asp-for="DeviceMeasurementsViewModel.WeightInKilograms" class="form-control w-12 text-center d-inline" type="number" min="0" step="0.001" title="Kilograms"/>
            <span> kg </span>
            <span asp-validation-for="DeviceMeasurementsViewModel.WeightInKilograms"></span>
        </div>
    </div>
</div>

<div class="row mb-4">
    <h5 class="col-lg-12">3. Does it require the use of consumables? For example, disposable batteries, disposable electrodes, etc. </h5>
    <div class="col-lg-12">
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input asp-for="DoesItRequireUseOfConsumables" class="show-extra-fields-js form-check-input" type="radio" value="@true" data-target="#consumables-usage-extra-field"/>
                Yes
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input asp-for="DoesItRequireUseOfConsumables" class="hide-extra-fields-js form-check-input" type="radio" value="@false" data-target="#consumables-usage-extra-field"/>
                No
            </label>
        </div>
        <span asp-validation-for="DoesItRequireUseOfConsumables"></span>
    </div>
</div>
<div id="consumables-usage-extra-field" class="hide">
    <div class="row mb-4">
        <div class="col-lg-12">
            <h5>3.1 If yes, please list the consumables:</h5>
            <div class="form-group">
                <textarea asp-for="IfRequiresConsumablesListConsumables" class="form-control mt-2" rows="4" placeholder="Please list the consumables.."></textarea>
                <span asp-validation-for="IfRequiresConsumablesListConsumables"></span>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <h5 class="col-lg-12">4. Estimated life time:</h5>
    <div class="col-lg-12">
        <div class="form-group">
            <input asp-for="EstimatedLifeTimeInDays" class="form-control w-12 text-center d-inline" type="number" min="0" max="366" title="Days"/>
            <span> Days </span>
            <input asp-for="EstimatedLifeTimeInMonths" class="form-control w-12 text-center d-inline" type="number" min="0" max="11" title="Months"/>
            <span> Months </span>
            <input asp-for="EstimatedLifeTimeInYears" class="form-control w-12 text-center d-inline" type="number" min="0" title="Years"/>
            <span> Years</span>
            <span asp-validation-for="EstimatedLifeTimeInDays"></span>
            <span asp-validation-for="EstimatedLifeTimeInMonths"></span>
            <span asp-validation-for="EstimatedLifeTimeInYears"></span>
        </div>
    </div>
</div>

<div class="row mb-4">
    <h5 class="col-lg-12">5. Estimated shelf life:</h5>
    <div class="col-lg-12">
        <div class="form-group">
            <input asp-for="EstimatedShelfLifeInDays" class="form-control w-12 text-center d-inline" type="number" min="0" max="366" title="Days"/>
            <span> Days </span>
            <input asp-for="EstimatedShelfLifeInMonths" class="form-control w-12 text-center d-inline" type="number" min="0" max="11" title="Months"/>
            <span> Months </span>
            <input asp-for="EstimatedShelfLifeInYears" class="form-control w-12 text-center d-inline" type="number" title="Years"/>
            <span> Years</span>
            <span asp-validation-for="EstimatedShelfLifeInDays"></span>
            <span asp-validation-for="EstimatedShelfLifeInMonths"></span>
            <span asp-validation-for="EstimatedShelfLifeInYears"></span>
        </div>
    </div>
</div>

<div class="row mb-4">
    <h5 class="col-lg-12">6. Can it have a telemedicine or eHealth application?</h5>
    <div class="col-lg-12">
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input asp-for="CanItHaveATelemedicineOrEHealthApplication" class="form-check-input" type="radio" value="@true"/>
                Yes
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input asp-for="CanItHaveATelemedicineOrEHealthApplication" class="form-check-input" type="radio" value="@false"/>
                No
            </label>
        </div>
        <span asp-validation-for="CanItHaveATelemedicineOrEHealthApplication"></span>
    </div>
</div>

<div class="row mb-4">
    <h5 class="col-lg-12">7. Does it use any kind of software?</h5>
    <div class="col-lg-12">
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input asp-for="DeviceSoftwareUsageViewModel.DoesItUseAnyKindOfSoftware" class="show-extra-fields-js form-check-input" type="radio" value="@true" data-target="#software-usage-extra-field"/>
                Yes
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input asp-for="DeviceSoftwareUsageViewModel.DoesItUseAnyKindOfSoftware" class="hide-extra-fields-js form-check-input" type="radio" value="@false" data-target="#software-usage-extra-field"/>
                No
            </label>
        </div>
        <span asp-validation-for="DeviceSoftwareUsageViewModel.DoesItUseAnyKindOfSoftware"></span>
    </div>
</div>
<div id="software-usage-extra-field" class="hide">
    <div class="row mb-4">
        <div class="col-lg-12">
            <h5>7.1 If yes, please describe the software, whether it is open source or proprietary, its use and/or license fee, etc. (10-70 words).</h5>
            <div class="form-group">
                <textarea asp-for="DeviceSoftwareUsageViewModel.IfUsesSoftwareDescribeSoftware" class="form-control mt-2" rows="4" placeholder="Please describe the software..."></textarea>
                <span asp-validation-for="DeviceSoftwareUsageViewModel.IfUsesSoftwareDescribeSoftware"></span>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-12">
            <h5>7.2 If yes, can the software be customized for local use? Please explain (10-70 words). Include languages available.</h5>
            <div class="form-group">
                <textarea asp-for="DeviceSoftwareUsageViewModel.IfUsesSoftwareCanSoftwareBeCustomizedForLocalUse" class="form-control mt-2" rows="4" placeholder="Please explain..."></textarea>
                <span asp-validation-for="DeviceSoftwareUsageViewModel.IfUsesSoftwareCanSoftwareBeCustomizedForLocalUse"></span>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <h5 class="col-lg-12">8. Is it portable?</h5>
    <div class="col-lg-12">
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="PortabilityKey" class="form-check-input" type="radio" value="installed_and_stationary"/>
                Installed and stationary
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="PortabilityKey" class="form-check-input" type="radio" value="mobile"/>
                Mobile (e.g. between wards)
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="PortabilityKey" class="form-check-input" type="radio" value="portable"/>
                Portable (hand-held)
            </label>
        </div>
        <span asp-validation-for="PortabilityKey"></span>

    </div>
</div>

<div class="row mb-4">
    <h5 class="col-lg-12">9. Type of use:</h5>
    <div class="col-lg-12">
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="TypeOfUseKey" class="form-check-input" type="radio" value="single_use"/>
                Single use
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="TypeOfUseKey" class="form-check-input" type="radio" value="long_term_use"/>
                Long term use
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="TypeOfUseKey" class="form-check-input" type="radio" value="reusable"/>
                Reusable
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="TypeOfUseKey" class="form-check-input" type="radio" value="capital_equipment"/>
                Capital equipment
            </label>
        </div>
        <span asp-validation-for="TypeOfUseKey"></span>
    </div>
</div>

<div class="row mb-4">
    <h5 class="col-lg-12">10. Does the technology require maintenance?</h5>
    <div class="col-lg-12">
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input asp-for="TechnologyMaintenanceViewModel.DoesTechnologyRequireMaintenance" class="show-extra-fields-js form-check-input" type="radio" value="@true" data-target="#technology-maintenance-requirement-extra-field"/>
                Yes
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input asp-for="TechnologyMaintenanceViewModel.DoesTechnologyRequireMaintenance" class="hide-extra-fields-js form-check-input" type="radio" value="@false" data-target="#technology-maintenance-requirement-extra-field"/>
                No
            </label>
        </div>
        <span asp-validation-for="TechnologyMaintenanceViewModel.DoesTechnologyRequireMaintenance"></span>
        <div id="technology-maintenance-requirement-extra-field" class="hide mb-0">
            <div class="form-group pl-3">
                <p>If yes, please fill the following fields:</p>
                <p>Specify the type: <input asp-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceSpecifyType" class="form-control w-25 d-inline" type="text" title="Type"/></p>
                <span asp-validation-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceSpecifyType"></span>
                <p>Specify frequency: <input asp-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceSpecifyFrequency" class="form-control w-25 d-inline" type="text" title="Frequency"/></p>
                <span asp-validation-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceSpecifyFrequency"></span>
                <span class="d-block">
                    <span class="pr-3">Can it be done on-site / home / community? </span>
                    <div class="form-check form-check-inline mb-0">
                        <label class="form-check-label">
                            <input asp-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceCanItBeDoneOnSiteOrHomeOrCommunity" class="form-check-input" type="radio" value="@true"/>
                            Yes
                        </label>
                    </div>
                    <div class="form-check form-check-inline mb-0">
                        <label class="form-check-label">
                            <input asp-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceCanItBeDoneOnSiteOrHomeOrCommunity" class="form-check-input" type="radio" value="@false"/>
                            No
                        </label>
                    </div>
                    <span asp-validation-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceCanItBeDoneOnSiteOrHomeOrCommunity"></span>
                </span>
            </div>

            <div class="row">
                <h5 class="col-lg-12">10.1 Who should provide maintenance?</h5>
                <div class="col-lg-4">
                    <div class="form-check ">
                        <label class="form-check-label my-0">
                            <input asp-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenance" class="form-check-input" type="radio" value="self-user_or_patient"/>
                            Self-use/patient
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label my-0">
                            <input asp-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenance" class="form-check-input" type="radio" value="nurse_or_physician"/>
                            Nurse/Physician
                        </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-check ">
                        <label class="form-check-label my-0">
                            <input asp-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenance" class="form-check-input" type="radio" value="engineer"/>
                            Engineer
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label my-0">
                            <input asp-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenance" class="form-check-input" type="radio" value="manufacturer"/>
                            Manufacturer
                        </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-check">
                        <label class="form-check-label my-0">
                            <input asp-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenance" class="form-check-input" type="radio" value="technician"/>
                            Technician
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label my-0 w-100">
                            <input asp-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenance" class="form-check-input" type="radio" value="other"/>
                            <span class="d-inline">Other:</span>
                            <input asp-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenanceOther" class="form-control w-75 d-inline" type="text" title="Other maintenance provider"/>
                            <span asp-validation-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenanceOther"></span>
                        </label>
                    </div>
                </div>
                <span asp-validation-for="TechnologyMaintenanceViewModel.IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenance"></span>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <h5 class="col-lg-12">11. Energy requirements:</h5>
    <div class="col-lg-12">

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="EnergyRequirements.MechanicalEnergy" class="form-check-input" type="checkbox"/>
                Mechanical energy (e.g. manually powered)
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="EnergyRequirements.Batteries" class="form-check-input" type="checkbox"/>
                Batteries
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="EnergyRequirements.PowerSupplyForRecharging" class="toggle-extra-fields-js form-check-input" type="checkbox" data-target="#recharging-extra-field"/>
                Power supply for recharging (not yet developed)
            </label>
        </div>
        <div id="recharging-extra-field" class="hide form-group pl-3">
            <p>If yes, please fill the following fields:</p>
            <p>Voltage required: <input asp-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredVoltage" class="form-control w-12 text-center d-inline" type="number" min="0" step="0.01" title="Voltage"/> V </p>
            <span asp-validation-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredVoltage"></span>
            <p>
                Time required to recharge:
                <input asp-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredTimeToRechargeInHours" class="form-control w-12 text-center d-inline" type="number" min="0" max="10000" title="Hours"/> Hours
                <input asp-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredTimeToRechargeInMinutes" class="form-control w-12 text-center d-inline" type="number" min="0" max="59" title="Minutes"/> Minutes
            </p>
            <span asp-validation-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredTimeToRechargeInHours"></span>
            <span asp-validation-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredTimeToRechargeInMinutes"></span>
            <p>
                Battery life with full charge:
                <input asp-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredBatteryLifeInHours" class="form-control w-12 text-center d-inline" type="number" min="0" max="10000" title="Hours"/> Hours
                <input asp-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredBatteryLifeInMinutes" class="form-control w-12 text-center d-inline" type="number" min="0" max="59" title="Minutes"/> Minutes
            </p>
            <span asp-validation-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredBatteryLifeInHours"></span>
            <span asp-validation-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredBatteryLifeInMinutes"></span>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="EnergyRequirements.ContinuousPowerSupply" class="toggle-extra-fields-js form-check-input" type="checkbox" data-target="#power-supply-extra-field"/>
                Continuous power supply
            </label>
        </div>
        <div id="power-supply-extra-field" class="hide form-group pl-3">
            <p>If yes, voltage required: <input asp-for="EnergyRequirements.IfContinuousPowerSupplyThenRequiredVoltage" class="form-control w-12 text-center d-inline" type="number" min="0" step="0.01" title="Voltage"/> V </p>
            <span asp-validation-for="EnergyRequirements.IfContinuousPowerSupplyThenRequiredVoltage"></span>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="EnergyRequirements.SolarPower" class="toggle-extra-fields-js form-check-input" type="checkbox" data-target="#solar-power-extra-field"/>
                Solar power
            </label>
        </div>
        <div id="solar-power-extra-field" class="hide form-group pl-3">
            <p>If yes, please fill the following fields:</p>
            <p>
                Time in sunlight required to charge:
                <input asp-for="EnergyRequirements.IfSolarPowerThenTimeInSunlightRequiredToChargeInHours" class="form-control w-12 text-center d-inline" type="number" min="0" max="10000" title="Hours"/> Hours
                <input asp-for="EnergyRequirements.IfSolarPowerThenTimeInSunlightRequiredToChargeInMinutes" class="form-control w-12 text-center d-inline" type="number" min="0" max="59" title="Minutes"/> Minutes
            </p>
            <span asp-validation-for="EnergyRequirements.IfSolarPowerThenTimeInSunlightRequiredToChargeInHours"></span>
            <span asp-validation-for="EnergyRequirements.IfSolarPowerThenTimeInSunlightRequiredToChargeInMinutes"></span>
            <p>
                Battery life with full charge:
                <input asp-for="EnergyRequirements.IfSolarPowerThenBatteryLifeInHours" class="form-control w-12 text-center d-inline" type="number" min="0" max="10000" title="Hours"/> Hours
                <input asp-for="EnergyRequirements.IfSolarPowerThenBatteryLifeInMinutes" class="form-control w-12 text-center d-inline" type="number" min="0" max="59" title="Minutes"/> Minutes
            </p>
            <span asp-validation-for="EnergyRequirements.IfSolarPowerThenBatteryLifeInHours"></span>
            <span asp-validation-for="EnergyRequirements.IfSolarPowerThenBatteryLifeInMinutes"></span>
        </div>

        <div class="form-check">
            <label class="form-check-label w-100">
                <input asp-for="EnergyRequirements.Other" class="form-check-input" type="checkbox"/>
                <span class="d-inline">Other:</span>
                <input asp-for="EnergyRequirements.OtherText" class="form-control d-inline w-25" type="text" title="Other energy requirement"/>
                <span asp-validation-for="EnergyRequirements.OtherText"></span>
            </label>
        </div>
    </div>
</div>

<div class="row mb-4">
    <h5 class="col-lg-12">12. Facility requirements:</h5>
    <div class="col-lg-12">

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="FacilityRequirements.CleanWaterSupply" class="form-check-input" type="checkbox"/>
                Clean water supply
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="FacilityRequirements.SpecificTemperatureAndOrHumidityRange" class="toggle-extra-fields-js form-check-input" type="checkbox" data-target="#specific-temperature-extra-field"/>
                Specific temperature and/or humidity range
            </label>
        </div>
        <div id="specific-temperature-extra-field" class="hide form-group col-lg-6">
            <span>If yes, please describe: </span>
            <textarea asp-for="FacilityRequirements.IfSpecificTemperatureAndOrHumidityRangeThenDescription" class="form-control mt-2" rows="2" placeholder="Please describe..."></textarea>
            <span asp-validation-for="FacilityRequirements.IfSpecificTemperatureAndOrHumidityRangeThenDescription"></span>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="FacilityRequirements.ClinicalWasteDisposalFacilities" class="toggle-extra-fields-js form-check-input" type="checkbox" data-target="#clinical-waste-extra-field"/>
                Clinical waste disposal facilities
            </label>
        </div>
        <div id="clinical-waste-extra-field" class="hide form-group col-lg-6">
            <span>If yes, please describe: </span>
            <textarea asp-for="FacilityRequirements.IfClinicalWasteDisposalFacilitiesThenDescription" class="form-control mt-2" rows="2" placeholder="Please describe..."></textarea>
            <span asp-validation-for="FacilityRequirements.IfClinicalWasteDisposalFacilitiesThenDescription"></span>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="FacilityRequirements.RadiationIsolation" class="form-check-input" type="checkbox"/>
                Radiation isolation
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="FacilityRequirements.GasSupply" class="toggle-extra-fields-js form-check-input" type="checkbox" data-target="#gas-supply-extra-field"/>
                Gas supply
            </label>
        </div>
        <div id="gas-supply-extra-field" class="hide form-group col-lg-6">
            <span>If yes, please describe: </span>
            <textarea asp-for="FacilityRequirements.IfGasSupplyThenDescription" class="form-control mt-2" rows="2" placeholder="Please describe..."></textarea>
            <span asp-validation-for="FacilityRequirements.IfGasSupplyThenDescription"></span>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="FacilityRequirements.Sterilization" class="toggle-extra-fields-js form-check-input" type="checkbox" data-target="#sterilization-extra-field"/>
                Sterilization
            </label>
        </div>
        <div id="sterilization-extra-field" class="hide form-group col-lg-6">
            <span>If yes, please describe: </span>
            <textarea asp-for="FacilityRequirements.IfSterilizationThenDescription" class="form-control mt-2" rows="2" placeholder="Please describe..."></textarea>
            <span asp-validation-for="FacilityRequirements.IfSterilizationThenDescription"></span>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="FacilityRequirements.AccessToInternet" class="form-check-input" type="checkbox"/>
                Access to the Internet
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="FacilityRequirements.AccessToCellularPhoneNetwork" class="form-check-input" type="checkbox"/>
                Access to a cellular phone network
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="FacilityRequirements.ConnectionToLaptopComputer" class="form-check-input" type="checkbox"/>
                Connection to a laptop/computer
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="FacilityRequirements.AccessibleByCar" class="form-check-input" type="checkbox"/>
                Accessible by car
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="FacilityRequirements.AdditionalSoundOrLightControlFacilites" class="form-check-input" type="checkbox"/>
                Additional sound / light control facilities
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label w-100">
                <input asp-for="FacilityRequirements.Other" class="form-check-input" type="checkbox"/>
                <span class="d-inline">Other:</span>
                <input asp-for="FacilityRequirements.OtherText" class="form-control d-inline w-25" type="text" title="Other facility requirement"/>
                <span asp-validation-for="FacilityRequirements.OtherText"></span>
            </label>
        </div>

    </div>
</div>
</div>
</div>
<hr class="mb-4">
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-primary">Save</button>
    </div>
</div>
</form>
</div>


@section Scripts {
    <script src="~/dist/toggle_formcheck_extra_fields.bundle.js"></script>
}
