@using Ubora.Domain.Projects.StructuredInformations
@using Ubora.Web._Features.Projects.Workpackages;
@model Ubora.Web._Features.Projects.Workpackages.Steps.HealthTechnologySpecificationsViewModel

@{
    ViewData["WorkpackageMenuOption"] = WorkpackageMenuOption.StructuredInformationOnTheDevice;
}

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-lg-3">
            @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
        </div>
        <div class="col-lg-7">
            <form asp-controller="WorkpackageTwo" asp-action="HealthTechnologySpecifications">

                <div class="row">
                    <h1 class="display-4 col-lg-12 mb-4">Health technology specifications</h1>
                    <div class="col-lg-12">

                        <div class="row mb-4">
                            <h5 class="col-lg-12">1. Dimensions (mm<sup>3</sup>):</h5>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input asp-for="DimensionsHeight" class="form-control width-8 text-center" type="number" min="0" title="Millimetres" />
                                    <span> mm x </span>
                                    <input asp-for="DimensionsLength" class="form-control width-8 text-center" type="number" min="0" title="Millimetres" />
                                    <span> mm x </span>
                                    <input asp-for="DimensionsWidth" class="form-control width-8 text-center" type="number" min="0" title="Millimetres" />
                                    <span> mm</span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <h5 class="col-lg-12">2. Weight:</h5>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input asp-for="WeightInKilograms" class="form-control width-8 text-center" type="number" min="0" title="Kilograms" />
                                    <span> kg </span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <h5 class="col-lg-12">3. Does it require the use of consumables? For example, disposable batteries, disposable electrodes, etc. </h5>
                            <div class="col-lg-12">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input asp-for="DoesItRequireUseOfConsumables" class="form-check-input" type="radio" value="@true" />
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input asp-for="DoesItRequireUseOfConsumables" class="form-check-input" type="radio" value="@false" />
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-lg-12">
                                <h5>4. If yes, please list the consumables:</h5>
                                <div class="form-group">
                                    <textarea asp-for="IfRequiresConsumablesListConsumables" class="form-control" rows="4" placeholder="Please list the consumables.."></textarea>
                                </div>
                            </div>
                        </div>


                        <div class="row mb-4">
                            <h5 class="col-lg-12">5. Estimated life time:</h5>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input asp-for="EstimatedLifeTimeInDays" class="form-control width-8 text-center" type="number" min="0" title="Days" />
                                    <span> Days </span>
                                    <input asp-for="EstimatedLifeTimeInMonths" class="form-control width-8 text-center" type="number" min="0" title="Months" />
                                    <span> Months </span>
                                    <input asp-for="EstimatedLifeTimeInYears" class="form-control width-8 text-center" type="number" min="0" title="Years" />
                                    <span> Years</span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <h5 class="col-lg-12">6. Estimated shelf life:</h5>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input asp-for="EstimatedShelfLifeInDays" class="form-control width-8 text-center" type="number" min="0" title="Days" />
                                    <span> Days </span>
                                    <input asp-for="EstimatedShelfLifeInMonths" class="form-control width-8 text-center" type="number" min="0" title="Months" />
                                    <span> Months </span>
                                    <input asp-for="EstimatedShelfLifeInYears" class="form-control width-8 text-center" type="number" min="0" title="Years" />
                                    <span> Years</span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <h5 class="col-lg-12">7. Can it have a telemedicine or eHealth application?</h5>
                            <div class="col-lg-12">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input asp-for="CanItHaveATelemedicineOrEHealthApplication" class="form-check-input" type="radio" value="@true" />
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input asp-for="CanItHaveATelemedicineOrEHealthApplication" class="form-check-input" type="radio" value="@false" />
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <h5 class="col-lg-12">8. Does it use any kind of software?</h5>
                            <div class="col-lg-12">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input asp-for="DoesItUseAnyKindOfSoftware" class="form-check-input" type="radio" value="@true" />
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input asp-for="DoesItUseAnyKindOfSoftware" class="form-check-input" type="radio" value="@false" />
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-lg-12">
                                <h5>9a. If yes, please describe the software, whether it is open source or proprietary, its use and/or license fee, etc. (10-70 words).</h5>
                                <div class="form-group">
                                    <textarea asp-for="IfUsesSoftwareDescribeSoftware" class="form-control" rows="4" placeholder="Please describe the software..."></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-lg-12">
                                <h5>9b. If yes, can the software be customized for local use? Please explain (10-70 words). Include languages available.</h5>
                                <div class="form-group">
                                    <textarea asp-for="IfUsesSoftwareCanSoftwareBeCustomizedForLocalUse" class="form-control" rows="4" placeholder="Please explain..."></textarea>
                                </div>
                            </div>
                        </div>


                        <div class="row mb-4">
                            <h5 class="col-lg-12">10. Is it portable?</h5>
                            <div class="col-lg-12">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="IsItPortable" class="form-check-input" type="radio" value="@Portability.InstalledAndStationary" />
                                        Installed and stationary
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="IsItPortable" class="form-check-input" type="radio" value="@Portability.Mobile" />
                                        Mobile (e.g. between wards)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="IsItPortable" class="form-check-input" type="radio" value="@Portability.Portable" />
                                        Portable (hand-held)
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <h5 class="col-lg-12">11. Type of use:</h5>
                            <div class="col-lg-12">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="TypeOfUse" class="form-check-input" type="radio" value="@TypeOfUse.SingleUse" />
                                        Single use
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="TypeOfUse" class="form-check-input" type="radio" value="@TypeOfUse.LongTermUse" />
                                        Long term use
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="TypeOfUse" class="form-check-input" type="radio" value="@TypeOfUse.Reusable" />
                                        Reusable
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="TypeOfUse" class="form-check-input" type="radio" value="@TypeOfUse.CapitalEquipment" />
                                        Capital equipment
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <h5 class="col-lg-12">12. Does the technology require maintenance?</h5>
                            <div class="col-lg-12">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input asp-for="DoesTechnologyRequireMaintenance" class="form-check-input" type="radio" value="@true" />
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input asp-for="DoesTechnologyRequireMaintenance" class="form-check-input" type="radio" value="@false" />
                                        No
                                    </label>
                                </div>
                                <div class="form-group pl-3">
                                    <span class="d-block">If yes, please specify the type: <input asp-for="IfTechnologyRequiresMaintenanceSpecifyType" class="form-control width-8" type="text" title="Type" /></span>
                                    <span class="d-block">If yes, please specify frequency: <input asp-for="IfTechnologyRequiresMaintenanceSpecifyFrequency" class="form-control width-8" type="number" title="Frequency" /></span>
                                </div>
                            </div>
                        </div>

                      

                        <div class="row mb-4">
                            <h5 class="col-lg-12">12.1 If yes, can it be done on-site / home / community?</h5>
                            <div class="col-lg-12">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input asp-for="IfTechnologyRequiresMaintenanceCanItBeDoneOnSiteOrHomeOrCommunity" class="form-check-input" type="radio" value="@true" />
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input asp-for="IfTechnologyRequiresMaintenanceCanItBeDoneOnSiteOrHomeOrCommunity" class="form-check-input" type="radio" value="@false" />
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <h5 class="col-lg-12">13. If yes, who should provide maintenance?</h5>
                            <div class="col-lg-4">
                                <div class="form-check ">
                                    <label class="form-check-label">
                                        <input asp-for="IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenance" class="form-check-input" type="radio" value="@ProviderOfMaintenance.SelfUserOrPatient" />
                                        Self-use/patient
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenance" class="form-check-input" type="radio" value="@ProviderOfMaintenance.NurseOrPhysician" />
                                        Nurse/Physician
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-check ">
                                    <label class="form-check-label">
                                        <input asp-for="IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenance" class="form-check-input" type="radio" value="@ProviderOfMaintenance.Engineer" />
                                        Engineer
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenance" class="form-check-input" type="radio" value="@ProviderOfMaintenance.Manufacturer" />
                                        Manufacturer
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenance" class="form-check-input" type="radio" value="@ProviderOfMaintenance.Technician" />
                                        Technician
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenance" class="form-check-input" type="radio" value="@ProviderOfMaintenance.Other" />
                                        <span class="d-inline">Other:</span>
                                        <input asp-for="IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenanceOther" class="form-control d-inline w-75" type="text" title="Other maintenance provider" />
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="row mb-4">
                            <h5 class="col-lg-12">14. Energy requirements:</h5>
                            <div class="col-lg-12">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="EnergyRequirements.MechanicalEnergy" class="form-check-input" type="checkbox" />
                                        Mechanical energy (e.g. manually powered)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="EnergyRequirements.Batteries" class="form-check-input" type="checkbox" />
                                        Batteries
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="EnergyRequirements.PowerSupplyForRecharging" class="form-check-input" type="checkbox" />
                                        Power supply for recharging (not yet developed)
                                    </label>
                                </div>
                                <div class="form-group pl-3">
                                    <span class="d-block">If yes, voltage required: <input asp-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredVoltage" class="form-control width-8 text-center" type="number" min="0" title="Voltage" /> V </span>
                                    <span class="d-block">Time required to recharge: <input asp-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredTimeToRechargeInHours" class="form-control width-8 text-center" type="number" min="0" title="Hours" /> Hours <input asp-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredTimeToRechargeInMinutes" class="form-control width-8 text-center" type="number" min="0" title="Minutes" /> Minutes</span>
                                    <span class="d-block">Battery life with full charge: <input asp-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredBatteryLifeInHours" class="form-control width-8 text-center" type="number" min="0" title="Hours" /> Hours <input asp-for="EnergyRequirements.IfPowerSupplyForRechargingThenRequiredBatteryLifeInMinutes" class="form-control width-8 text-center" type="number" min="0" title="Minutes" /> Minutes</span>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="EnergyRequirements.ContinuousPowerSupply" class="form-check-input" type="checkbox" />
                                        Continuous power supply
                                    </label>
                                </div>
                                <div class="form-group pl-3">
                                    <span>If yes, voltage required: </span><input asp-for="EnergyRequirements.IfContinuousPowerSupplyThenRequiredVoltage" class="form-control width-8 text-center" type="number" min="0" title="Voltage" /><span> V </span>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="EnergyRequirements.SolarPower" class="form-check-input" type="checkbox" />
                                        Solar power
                                    </label>
                                </div>
                                <div class="form-group pl-3">
                                    <span>If yes, time in sunlight required to charge: </span><input asp-for="EnergyRequirements.IfSolarPowerThenTimeInSunlightRequiredToChargeInHours" class="form-control width-8 text-center" type="number" min="0" title="Hours" /><span> Hours </span><input asp-for="EnergyRequirements.IfSolarPowerThenTimeInSunlightRequiredToChargeInMinutes" class="form-control width-8 text-center" type="number" min="0" title="Minutes" /><span> Minutes</span>
                                    <span class="d-block">Battery life with full charge: <input asp-for="EnergyRequirements.IfSolarPowerThenBatteryLifeInHours" class="form-control width-8 text-center" type="number" min="0" title="Hours" /> Hours <input asp-for="EnergyRequirements.IfSolarPowerThenBatteryLifeInMinutes" class="form-control width-8 text-center" type="number" min="0" title="Minutes" /> Minutes</span>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="EnergyRequirements.Other" class="form-check-input" type="checkbox" />
                                        <span class="d-inline">Other:</span>
                                        <input asp-for="EnergyRequirements.OtherText" class="form-control d-inline w-75" type="text" title="Other energy requirement" />
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <h5 class="col-lg-12">15. Facility requirements:</h5>
                            <div class="col-lg-12">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="FacilityRequirements.CleanWaterSupply" class="form-check-input" type="checkbox" />
                                        Clean water supply
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="FacilityRequirements.SpecificTemperatureAndOrHumidityRange" class="form-check-input" type="checkbox" />
                                        Specific temperature and/or humidity range
                                    </label>
                                </div>
                                <div class="form-group col-lg-6">
                                    <span>If yes, please describe: </span>
                                    <textarea asp-for="FacilityRequirements.IfSpecificTemperatureAndOrHumidityRangeThenDescription" class="form-control" rows="2" placeholder="Please describe..."></textarea>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="FacilityRequirements.ClinicalWasteDisposalFacilities" class="form-check-input" type="checkbox" />
                                        Clinical waste disposal facilities
                                    </label>
                                </div>
                                <div class="form-group col-lg-6">
                                    <span>If yes, please describe: </span>
                                    <textarea asp-for="FacilityRequirements.IfClinicalWasteDisposalFacilitiesThenDescription" class="form-control" rows="2" placeholder="Please describe..."></textarea>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="FacilityRequirements.RadiationIsolation" class="form-check-input" type="checkbox" />
                                        Radiation isolation
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="FacilityRequirements.GasSupply" class="form-check-input" type="checkbox" />
                                        Gas supply
                                    </label>
                                </div>
                                <div class="form-group col-lg-6">
                                    <span>If yes, please describe: </span>
                                    <textarea asp-for="FacilityRequirements.IfGasSupplyThenDescription" class="form-control" rows="2" placeholder="Please describe..."></textarea>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="FacilityRequirements.Sterilization" class="form-check-input" type="checkbox" />
                                        Sterilization
                                    </label>
                                </div>
                                <div class="form-group col-lg-6">
                                    <span>If yes, please describe: </span>
                                    <textarea asp-for="FacilityRequirements.IfSterilizationThenDescription" class="form-control" rows="2" placeholder="Please describe..."></textarea>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="FacilityRequirements.AccessToInternet" class="form-check-input" type="checkbox" />
                                        Access to the Internet
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="FacilityRequirements.AccessToCellularPhoneNetwork" class="form-check-input" type="checkbox" />
                                        Access to a cellular phone network
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="FacilityRequirements.ConnectionToLaptopComputer" class="form-check-input" type="checkbox" />
                                        Connection to a laptop/computer
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="FacilityRequirements.AccessibleByCar" class="form-check-input" type="checkbox" />
                                        Accessible by car
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="FacilityRequirements.AdditionalSoundOrLightControlFacilites" class="form-check-input" type="checkbox" />
                                        Additional sound / light control facilities
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input asp-for="FacilityRequirements.Other" class="form-check-input" type="checkbox" />
                                        <span class="d-inline">Other:</span>
                                        <input asp-for="FacilityRequirements.OtherText" class="form-control d-inline w-75" type="text" title="Other facility requirement" />
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <hr class="mb-4">

                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
