@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@using Ubora.Web._Features._Shared
@model Ubora.Web._Features.Projects.Workpackages.Steps.ProjectOverviewViewModel

@{
    ViewData[nameof(PageTitle)] = "Design planning";
    ViewData[nameof(ProjectMenuOption)] = ProjectMenuOption.Workpackages;
    ViewData[nameof(WorkpackageMenuOption)] = WorkpackageMenuOption.DesignPlanning;
}

    <h1>@ViewData[nameof(PageTitle)]</h1>

<form asp-controller="WorkpackageOne" asp-action="ProjectOverview" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="ClinicalNeedTag">Clinical need</label>
        <select class="form-control" asp-for="ClinicalNeedTag">
            <option selected disabled>Select a clinical need</option>
            @foreach (var tag in Tags.ClinicalNeeds)
            {
                <option value="@tag">@tag</option>
            }
        </select>
        <span asp-validation-for="ClinicalNeedTag"></span>
    </div>

    <div class="form-group">
        <label asp-for="AreaOfUsageTag">Area</label>
        <select class="form-control" asp-for="AreaOfUsageTag">
            <option selected disabled>Select an area of usage</option>
            <optgroup label="From surgical fields">
                @foreach (var tag in Tags.SurgicalFieldAreas)
                {
                    <option value="@tag">@tag</option>
                }
            </optgroup>
            <optgroup label="From internal medicine">
                @foreach (var tag in Tags.InternalMedicineAreas)
                {
                    <option value="@tag">@tag</option>
                }
            </optgroup>
            <optgroup label="From diagnostic medicine">
                @foreach (var tag in Tags.DiagnosticMedicineAreas)
                {
                    <option value="@tag">@tag</option>
                }
            </optgroup>
            <optgroup label="From other major disciplines">
                @foreach (var tag in Tags.OtherMajorDisciplineAreas)
                {
                    <option value="@tag">@tag</option>
                }
            </optgroup>
        </select>
        <span asp-validation-for="AreaOfUsageTag"></span>
    </div>

    <div class="form-group">
        <label asp-for="PotentialTechnologyTag">Technology</label>
        <select class="form-control" asp-for="PotentialTechnologyTag">
            <option selected disabled>Select potential technology</option>
            @foreach (var tag in Tags.PotentialTechnologies)
            {
                <option value="@tag">@tag</option>
            }
        </select>
        <span asp-validation-for="PotentialTechnologyTag"></span>
    </div>

    <div class="form-group">
        <label asp-for="Keywords">Project keywords</label>
        <input class="form-control" asp-for="Keywords" placeholder="A few keywords about your project">
        <span asp-validation-for="Keywords"></span>
    </div>

    <div class="d-flex justify-content-center flex-wrap-reverse">
        <a class="btn btn-outline-primary" asp-controller="WorkpackageOne" asp-action="DiscardDesignPlanningChanges" asp-route-returnUrl="@ViewData["ReturnUrl"]" role="button">Discard</a>
        <span class="mx-1"></span>
        <button class="btn btn-primary" type="submit">Save changes</button>
    </div>

</form>

@section Head {
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"
          asp-fallback-href="~/dist/libs/select2.min.css">
}

@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"
            asp-fallback-src="~/dist/libs/select2.min.js"
            asp-fallback-test="window.select2">
    </script>
    <script>$('select').select2({ theme: 'ubora' });</script>
}
