@using Ubora.Web._Features.Projects.Workpackages;

@model Ubora.Web._Features.Projects.Workpackages.Steps.StructuredInformationResultViewModel

@{
    ViewData["WorkpackageMenuOption"] = WorkpackageMenuOption.StructuredInformationOnTheDevice;
}

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-lg-3">
            @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
        </div>
        <div class="col-lg-9">
            <div class="row">
                <h1 class="display-4 mb-4 col-lg-9">User and evironment</h1>
                <div class="col-lg-3">
                    <a class="btn btn-secondary-ghost align-self-start" asp-action="UserAndEnvironment" asp-controller="WorkpackageTwo">
                        <i class="material-icons">mode_edit</i>
                        <span>Edit</span>
                    </a>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-10">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w-50">Question</th>
                                <th class="w-50">Answer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!string.IsNullOrEmpty(Model.UserAndEnvironment.IntendedUser))
                            {
                                <tr>
                                    <td>Who is the intended user?</td>
                                    <td>@Model.UserAndEnvironment.IntendedUser</td>
                                </tr>
                            }
                            <tr>
                                <td>Is training required in addition to the expected skill level of the intended user?</td>
                                <td>@Model.UserAndEnvironment.IsTrainingRequiredInAdditionToExpectedSkillLevelOfIntentedUser</td>
                            </tr>
                            @if (Model.UserAndEnvironment.IsTrainingRequiredInAdditionToExpectedSkillLevelOfIntentedUser)
                            {
                                <tr>
                                    <td>If training is required, please describe who will deliver the training and the materials and time required for the training.</td>
                                    <td>@Model.UserAndEnvironment.IfTrainingIsRequiredPleaseDescribeWhoWillDeliverTrainingAndMaterialsAndTimeRequiredForTraining</td>
                                </tr>
                            }
                            <tr>
                                <td>Is any maintenance or calibration required by the user at the time of use?</td>
                                <td>@Model.UserAndEnvironment.IsAnyMaintenanceOrCalibrationRequiredByUserAtTimeOfUse</td>
                            </tr>
                            @if (Model.UserAndEnvironment.WhereWillTechnologyBeUsed.GetResult().Any())
                            {
                                <tr>
                                    <td>Where will the technology be used?</td>
                                    <td>@string.Join(", ", Model.UserAndEnvironment.WhereWillTechnologyBeUsed.GetResult())</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <h1 class="display-4 mb-4 col-lg-9">Health technology specifications</h1>
                <div class="col-lg-3">
                    <a class="btn btn-secondary-ghost align-self-start" asp-action="HealthTechnologySpecifications" asp-controller="WorkpackageTwo">
                        <i class="material-icons">mode_edit</i>
                        <span>Edit</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w-50">Question</th>
                                <th class="w-50">Answer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dimensions (mm3)</td>
                                <td>@Model.HealthTechnologySpecifications.DeviceMeasurementsViewModel.DimensionsLength mm x @Model.HealthTechnologySpecifications.DeviceMeasurementsViewModel.DimensionsWidth mm x @Model.HealthTechnologySpecifications.DeviceMeasurementsViewModel.DimensionsHeight mm</td>
                            </tr>
                            <tr>
                                <td>Weight (kg)</td>
                                <td>@Model.HealthTechnologySpecifications.DeviceMeasurementsViewModel.WeightInKilograms kg</td>
                            </tr>
                            <tr>
                                <td>Does it require the use of consumables? For example, disposable batteries, disposable electrodes, etc.</td>
                                <td>@Model.HealthTechnologySpecifications.DoesItRequireUseOfConsumables</td>
                            </tr>
                            @if (Model.HealthTechnologySpecifications.DoesItRequireUseOfConsumables && !string.IsNullOrEmpty(Model.HealthTechnologySpecifications.IfRequiresConsumablesListConsumables))
                            {
                                <tr>
                                    <td>If yes, please list the consumables</td>
                                    <td>@Model.HealthTechnologySpecifications.IfRequiresConsumablesListConsumables</td>
                                </tr>
                            }
                            <tr>
                                <td>Estimated life time</td>
                                <td>@Model.HealthTechnologySpecifications.EstimatedLifeTimeInDays Days @Model.HealthTechnologySpecifications.EstimatedLifeTimeInMonths Months @Model.HealthTechnologySpecifications.EstimatedLifeTimeInYears Years</td>
                            </tr>
                            <tr>
                                <td>Estimated shelf life</td>
                                <td>@Model.HealthTechnologySpecifications.EstimatedShelfLifeInDays Days @Model.HealthTechnologySpecifications.EstimatedShelfLifeInMonths Months @Model.HealthTechnologySpecifications.EstimatedShelfLifeInYears Years</td>
                            </tr>
                            <tr>
                                <td>Can it have a telemedicine or eHealth application?</td>
                                <td>@Model.HealthTechnologySpecifications.CanItHaveATelemedicineOrEHealthApplication</td>
                            </tr>
                            <tr>
                                <td>Does it use any kind of software?</td>
                                <td>@Model.HealthTechnologySpecifications.DeviceSoftwareUsageViewModel.DoesItUseAnyKindOfSoftware</td>
                            </tr>
                            @if (Model.HealthTechnologySpecifications.DeviceSoftwareUsageViewModel.DoesItUseAnyKindOfSoftware)
                            {
                                <tr>
                                    <td>If yes, please describe the software, whether it is open source or proprietary, its use and/or license fee, etc. (10-70 words).</td>
                                    <td>@Model.HealthTechnologySpecifications.DeviceSoftwareUsageViewModel.IfUsesSoftwareDescribeSoftware</td>
                                </tr>
                                <tr>
                                    <td>If yes, can the software be customized for local use? Please explain (10-70 words). Include languages available.</td>
                                    <td>@Model.HealthTechnologySpecifications.DeviceSoftwareUsageViewModel.IfUsesSoftwareCanSoftwareBeCustomizedForLocalUse</td>
                                </tr>
                            }
                            <tr>
                                <td>Is it portable?</td>
                                <td>@Model.HealthTechnologySpecifications.Portability</td>
                            </tr>
                            <tr>
                                <td>Type of use</td>
                                <td>@Model.HealthTechnologySpecifications.TypeOfUse</td>
                            </tr>
                            <tr>
                                <td>Does the technology require maintenance?</td>
                                <td>
                                    <p>@Model.HealthTechnologySpecifications.DoesTechnologyRequireMaintenance</p>
                                    @if (Model.HealthTechnologySpecifications.DoesTechnologyRequireMaintenance)
                                    {
                                        <p>Type: @Model.HealthTechnologySpecifications.IfTechnologyRequiresMaintenanceSpecifyType</p>
                                        <p>Frequency: @Model.HealthTechnologySpecifications.IfTechnologyRequiresMaintenanceSpecifyFrequency</p>
                                        <p>Can it be done on-site / home / community?: @Model.HealthTechnologySpecifications.IfTechnologyRequiresMaintenanceCanItBeDoneOnSiteOrHomeOrCommunity</p>
                                    }
                                </td>
                            </tr>
                            @if (Model.HealthTechnologySpecifications.DoesTechnologyRequireMaintenance)
                            {
                                <tr>
                                    <td>If yes, who should provide maintenance?</td>
                                    <td>@Model.HealthTechnologySpecifications.IfTechnologyRequiresMaintenanceWhoShouldProvideMaintenance</td>
                                </tr>
                            }
                            <tr>
                                <td>Energy requirements</td>
                                <td>
                                    @if (Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.MechanicalEnergy)
                                    {
                                        <p>Mechanical energy (e.g. manually powered)</p>
                                    }
                                    @if (Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.Batteries)
                                    {
                                        <p>Batteries</p>
                                    }
                                    @if (Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.PowerSupplyForRecharging)
                                    {
                                        <p>
                                            <span class="d-block">Power supply for recharging</span>
                                            <span class="d-block pl-3">Voltage required: @Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.IfPowerSupplyForRechargingThenRequiredVoltage V</span>
                                            <span class="d-block pl-3">Time required to recharge: @Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.IfPowerSupplyForRechargingThenRequiredTimeToRechargeInHours hours @Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.IfPowerSupplyForRechargingThenRequiredTimeToRechargeInMinutes minutes</span>
                                            <span class="d-block pl-3">Battery life with full charge: @Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.IfPowerSupplyForRechargingThenRequiredBatteryLifeInHours hours @Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.IfPowerSupplyForRechargingThenRequiredBatteryLifeInMinutes minutes</span>
                                        </p>
                                    }
                                    @if (Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.ContinuousPowerSupply)
                                    {
                                        <p>
                                            <span class="d-block">Continuous power supply</span>
                                            <span class="d-block pl-3">Voltage required: @Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.IfContinuousPowerSupplyThenRequiredVoltage V</span>
                                        </p>
                                    }
                                    @if (Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.SolarPower)
                                    {
                                        <p>
                                            <span class="d-block">Solar power</span>
                                            <span class="d-block pl-3">Time in sunlight required to charge: @Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.IfSolarPowerThenTimeInSunlightRequiredToChargeInHours hours @Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.IfSolarPowerThenTimeInSunlightRequiredToChargeInMinutes minutes</span>
                                            <span class="d-block pl-3">Battery life with full charge: @Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.IfSolarPowerThenBatteryLifeInHours hours @Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.IfSolarPowerThenBatteryLifeInMinutes minutes</span>
                                        </p>
                                    }
                                    @if (Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.Other)
                                    {
                                        <p>@Model.HealthTechnologySpecifications.EnergyRequirementsViewModel.OtherText</p>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Facility requirements</td>
                                <td>
                                    @foreach (var item in Model.HealthTechnologySpecifications.FacilityRequirementsViewModel.GetResult())
                                    {
                                        <p>@item</p>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
