@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.Steps.VotingViewModel

@{
    ViewData["Title"] = "Conceptual Design";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<div class="container-fluid my-4">
  <div class="row">

    <div class="col-sm-12 col-md-4">
      @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
    </div>

    <div class="col-sm-12 col-md-8">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between">
            <h1 class="step_title">Conceptual Design</h1>
            <a class="btn btn-secondary-ghost align-self-start" asp-controller="ConceptualDesign" asp-action="AddCandidate">
              <i class="material-icons">add</i>
              <span>Add candidate</span>
            </a>
          </div>

            <div class="row">
              @foreach (var candidate in Model.Candidates)
              {
                <div class="col-sm-12 col-md-3 my-2">
                  <div class="card w-100 h-100">
                    <a href="@Url.Action("Candidate", "ConceptualDesign", new { candidateId = candidate.Id })" class="card-link">
                      <img class="card-img-top img-fluid" src="@candidate.ImageUrl" alt="Card image cap">
                    </a>
                    <div class="card-body h-100">
                      <h4 class="card-title mt-2"><a href="@Url.Action("Candidate", "ConceptualDesign", new { candidateId = candidate.Id })"><p>@candidate.Title</p></a></h4>
                      <p class="card-text mb-2">@candidate.Description</p>
                    </div>
                    <div class="card-footer">
                      @*<small class="text-muted">Score:</small>*@
                    </div>
                  </div>
                </div>
              }
            </div>

        </div>
      </div>
    </div>

  </div>
