@using Ubora.Web._Features.Projects.Workpackages.Steps
@model Wp6IndexViewModel

<h1>@ViewData["Title"]</h1>
<div class="project-closure-steps">

    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a asp-controller="@WorkpackageSixController.Name" asp-action="@nameof(WorkpackageSixController.Read)" asp-route-stepId="InfoForGeneralPublic" >
                        <div class="d-flex justify-content-between">
                            <h3>
                                Info for general public
                            </h3>
                            <i class="material-icons @(Model.DoesInfoForGeneralPublicHaveContent ? "color-dark-green" : "color-grey-2")">check</i>
                        </div>
                        <small>
                            Use this section to provide descriptive materials for your project. Your audience is a general nontechnical public, interested in medical devices, as patients, healthcare providers, or investors. Videos, pictures, and/or infographics should be together with a catchy short description.
                        </small>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a asp-controller="@WorkpackageSixController.Name" asp-action="@nameof(WorkpackageSixController.Read)" asp-route-stepId="RealLifeUseOrSimulation">
                        <div class="d-flex justify-content-between">
                            <h3>
                                Real life use or simulation
                            </h3>
                            <i class="material-icons @(Model.DoesRealLifeUserOrSimulationHaveContent ? "color-dark-green" : "color-grey-2")">check</i>
                        </div>
                        <small>
                            Describe in this section the use of your medical device in a real case scenario. Feed this part with videos, pictures, feedback from users, such as patients and healthcare providers.
                        </small>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a asp-controller="@WorkpackageSixController.Name" asp-action="@nameof(WorkpackageSixController.Read)" asp-route-stepId="PresentationForPress">
                        <div class="d-flex justify-content-between">
                            <h3>
                                Presentation for press
                            </h3>
                            <i class="material-icons @(Model.DoesPresentationForPressHaveContent ? "color-dark-green" : "color-grey-2")">check</i>
                        </div>
                        <small>
                            Use this section to provide descriptive materials for your project to be used "as it is" (e.g. cut and paste) by media to spotlight your work. Pictures, slides, infographics and a "press release" are the most appropriate communication. The UBORA management group could ask you a illustrative materials to create a slider for the "featured projects" section.
                        </small>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
