@using Ubora.Web._Features.Notifications.Requests

@model RequestToJoinProjectNotifiationViewModel

@{
    var isUnreadCss = Model.IsUnread ? "notification--unread" : "";
}

@*TODO: add 'notification-unread' only for unread notifications*@
<div class="notification notification-unread @isUnreadCss">
    <div class="notification-container box-shadow-2">
        <div class="d-flex justify-content-between">
            <p class="mb-0 py-1"><a asp-controller="Profile" asp-action="ViewProfile" asp-route-userId="@Model.UserId">@Model.UserFullName</a> asked to join project <a asp-controller="Dashboard" asp-action="Dashboard" asp-route-projectId="@Model.ProjectId">@Model.ProjectTitle</a>.</p>
            <form class="notification-controls" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="RequestId" />
                <button class="btn btn-outline-primary btn-sm align-self-start" type="submit" asp-controller="Requests" asp-action="Decline">Decline</button>
                <button class="btn btn-primary btn-sm ml-2 align-self-start" type="submit" asp-controller="Requests" asp-action="Accept">Accept</button>
            </form>
        </div>
        @*TODO: add timeago*@
        <span class="history-timestamp timeago">2 minutes ago</span>
    </div>
</div>
